<div class="row">
	<div class="medium-10 medium-centered columns text-center">
		<h2><strong>Thanks! Your message has been sent to <%= @message.recipient %>.</strong></h2>
		<h3>A copy of your mesage has been emailed to you at <%= @current_user.email %></h3>
	</div><!--/.small-12-->
</div><!--/.row-->