<div class="row">
	<div class="medium-11 medium-centered columns">
		<%= render partial: "shared/orders/order_header", locals: { order: @order } %>
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->

<div id="order-table-data">
<%= render partial: "shared/orders/order_table", locals: { order: @order } %>
</div>


<div class="row">
	<div class="medium-11 medium-centered columns">
		<%= render partial: "shared/orders/order_comments", locals: { order: @order } %>
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->