<div class="row newuser-modal">
	<div class="medium-10 medium-centered columns">
	<div class="new-user-intro">
		<h1>Thank you for joining the<br>Landing Marketplace!</h1>
		<br>
		<div class="row">
			<div class="medium-6 columns">
				<h3><strong>1) Wait for Approval</strong><br>Landing is verifying your brand fit.</h3>
			</div><!--/.medium-6-->
			<div class="medium-6 columns">
				<h3><strong>2) Pay Subscription</strong><br>After you've been approved, simply send your subscription payment!</h3>
			</div><!--/.medium-6-->
		</div><!--/.row-->
		<hr>
		<h3>Contact us for assistance any time at <a mailto="info@landingintl.com" style="font-weight: 500;">info@landingintl.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
	</div><!--/.new-user-subscription-->
</div><!--/.row-->