<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<div class="pages-wrapper">

<div class="row">
	<div class="medium-10 medium-centered columns text-center">
		<h1><strong>Please Subscribe</strong></h1>
		<p></p>
	</div><!--/.small-12-->
</div><!--/.row-->

</div><!--/.pages-wrapper-->
<%= render partial: 'shared/v2/footer/main' %>