<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>

<div style="height: 100vh;">
<br><br><br>
	<div class="row">
		<div class="medium-6 medium-centered columns text-center">
			<div class="new-user-subscription">
				<div id="notice">this area requires a subscription</div><!--/#notice -->
				<div id="sub-notice">READY FOR PAYMENT</div><!--/#notice -->	
				<div id="main">
					<h1>Hi there!</h1>
					<div class="row">
						<div class="small-10 small-centered columns">
							<h2>Your subscription is ready to be activated!</h2>		
						</div><!--/.small-12-->
					</div><!--/.row-->
					<%= link_to "PAY NOW", brand_subscription_url, class: "landing-button", style: "font-weight: 400;
			text-decoration: none; color: white;", remote: true %>
				</div><!--/#main -->	
			</div><!--/.new-user-intro -->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.100vh-->
<%= render partial: 'shared/v2/footer/main' %>