<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>

<div style="height: 100vh;">
<br><br><br>
	<div class="row">
		<div class="medium-10 medium-centered columns">
			<div class="row">
				<div class="small-12 columns text-center">
					<div class="new-user-subscription">
						<div id="notice">THIS AREA REQUIRES A SUBSCRIPTION</div><!--/#notice -->
					</div><!--/.new-user-subscription -->
				</div><!--/.small-12-->
			</div><!--/.row-->
			<br>
			<div class="row" data-equalizer>
				<div class="medium-4 columns">
					<div class="new-user-subscription" data-equalizer-watch>
						<div id="main">
							<div class="row">
								<div class="small-10 small-centered columns">
									<h1>STEP 1:</h1>
									<h1>APPROVAL</h1>
									<br>
									<h1 class="greyed">STEP 2:</h1>
									<h1 class="greyed">PAYMENT</h1>
								</div><!--/.small-12-->
							</div><!--/.row-->
						</div><!--/#main -->	
					</div><!--/.new-user-subscription -->
				</div><!--/.medium-6-->
				<div class="medium-8 columns">
					<div class="new-user-subscription"  data-equalizer-watch>
						<div id="main">
							<div class="row">
								<div class="small-10 small-centered columns">
									<h1>Hi there!</h1>
									<h2>It looks like your brand is waiting to be approved.</h2><br>
									<h3><strong>You should receive an email on the status of your profile very soon.
									Once approved, we’ll send you details on how to pay for your annual subscription.</strong></h3>
									<br><br>
									<h3> Please email us at <a mailto="info@landingintl.com" style="color:black;">info@landingintl.com</a> if you haven’t heard back about the status of your profile.</h3>
								</div><!--/.small-10-->
							</div><!--/.row-->
						</div><!--/#main -->	
					</div><!--/.new-user-subscription -->
				</div><!--/.medium-6-->
			</div><!--/.row-->
		</div><!--/.small-12-->
	</div><!--/.row-->
</div><!--/.100vh-->
<%= render partial: 'shared/v2/footer/main' %>