<% unless company.payment_terms_valid? %>
	<div class="notice">Hi! Your use of Net Terms will need to be approved by Landing International. <br>
	Until we review and approve your request, you will not be able to submit any new orders.<br>
	Feel free to contact us at <a href="mailto:info@landinginternatinal.com" >info@landinginternatinal.com</a> with any questions!</div>
<% end %>