@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.article-cm-action-link {
	font-size: rem-calc(12); 
	color: black; 
	font-weight: 100;
	border: 1px solid $landing-middle-gray;
	padding: rem-calc(5);
}

// .article {
// 	font-weight: 100;
// 	ul, ol, a {
// 		font-weight: 100;
// 	}
// 	a {
// 		border-bottom: rem-calc(1) solid $landing-middle-gray;
// 	}
// 	// ul {
// 	// 	list-style: none;
// 	// }
// 	// ul li:before{ 
// 	// 	content:"• "; 
// 	// 	font-size: rem-calc(10);
// 	// }
// }