@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.article-cm-action-link {
	font-size: rem-calc(12); 
	color: black; 
	font-weight: 100;
	border: 1px solid $landing-middle-gray;
	padding: rem-calc(5);
}

.article{
	margin-bottom: rem-calc(200);
	.articlepreviewtext {
		margin-top: rem-calc(39);
	}
	a {
		color: $landing-dark-gray;
	}
	h1 {
		font-size: rem-calc(50);
		font-weight: 800;
		line-height: 1em;
		text-transform: uppercase;
		color: $landing-blue;
		text-shadow: 1px 1px 1px $landing-middle-gray;
	}
	h2 {
		display: inline-block;
		font-size: rem-calc(20);
		font-weight: 800;
		color: $landing-pink;
	}
	.article-body > h2 {
		display: block;
		color: $landing-pink;
	}
	h3{
		font-weight: 600;
		&#featured-products, &#featured-brands {
			color: $landing-blue;
		}
	}
	p{
		font-size: rem-calc(14);
		// text-align: justify;
		margin: rem-calc(20) 0;
	}
	.byline {
		display: inline-block;
		font-weight: 100;
		font-size: rem-calc(20);
	}
	.social {
		font-weight: 100;
		font-size: rem-calc(14);	
		margin: rem-calc(25) 0;	
	}
	ul.featuringlist {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		li {
			// text-align: center;
			font-weight:700;
			display: block;
			vertical-align: top;
			margin: rem-calc(20) 0 rem-calc(20) 0;
			span.image, span.description{ 
				display: inline-block;
			}
			span.image {
				// display: inline-block;
				// width: 40%;
				padding-bottom: rem-calc(10);
				border-bottom: 1px solid $landing-middle-gray;
				img {
					margin: auto;
					width: 100%
				}
			}
			.outer {
				width: rem-calc(125);
				height: rem-calc(125);
				margin: auto;
				overflow: hidden;
				border: 1px solid $landing-light-gray;
			}
			.inner {
				width: 90%;
				height: 90%;
				margin: auto;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				-moz-transition: all .5s;
				-webkit-transition: all .5s;
				transition: all .5s;
				&:hover {
					-moz-transform: scale(1.1,1.1);
					-webkit-transform: scale(1.1,1.1);
					transform: scale(1.1,1.1);  
				}
			}
			.name {
				width: 80%;
				text-align: center;
				margin:auto;
			}
		}
	}

	ul.pullquote {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		border-left: 3px solid $landing-middle-gray;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
		li {
			font-weight:100;
			font-size: rem-calc(21);
			margin: rem-calc(20) 0 rem-calc(20) rem-calc(23);
			line-height: 1;
			&.header {
				font-weight: 600;
			}
		}
	}

	ul.callout {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		border-left: 3px solid $landing-middle-gray;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		margin-top: rem-calc(40);
		margin-bottom: rem-calc(40);
		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
		li {
			font-weight:100;
			font-size: rem-calc(14);
			margin: rem-calc(20) 0 rem-calc(20) rem-calc(23);
			line-height: 1;
			&.header, &.subheader {
				font-weight: 600;
			}
			&.subheader {
				color: $landing-dark-gray;
			}
			.column-right, .column-left {
				display: inline-block;
				margin: 0 rem-calc(10);
			}
		}
	}
}

#article-carousel.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 45px;
  top: 250px; 
}
 
#article-carousel.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 45px;
  top: 250px;
}
#article-carousel {
	.item {
		text-align: center;
		img {
		  // height: 100%;
		  // width: auto;
		}
	}
}

#article-image-top {
	display: relative;
	min-height: rem-calc(250);
	#article-headline {
		// @media #{$medium-up} {
		// 	position: absolute;
		// 	padding-right: rem-calc(10);
		// 	left:0;
		// 	top: 10%;
		// 	@include transparent(#fff, 0.9);
		// }
	}
}