@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.v2front {
	margin-bottom: rem-calc(30);
	.articlepreviewtext {
		margin-top: rem-calc(39);
	}
	a {
		color: $landing-dark-gray;
	}
	h1 {
		font-size: rem-calc(24);
		font-weight: 800;
		line-height: 1em;
	}
	h2 {
		font-size: rem-calc(16);
		font-weight: 500;
	}
	h3{
		font-weight: 100;
	}
	p{
		font-size: rem-calc(12);
		text-align: justify;
	}
	ul.featuringlist {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		li {
			font-weight:700;
		}
	}

	.browseblock {
		margin: rem-calc(30) 0 0 0;
		h1 {
			z-index: 10;
			font-weight: 100;
			line-height: 1em;
			strong {
				font-weight: 700;
			}
		}
		hr {
			z-index: -10;
			// margin-top: rem-calc(-20);
		}
		ul {
			list-style-type: none; /*to remove bullets*/
			text-align: center;
			margin-left:0;
			margin-top: rem-calc(30);
			padding: 0px;
			zoom:1;
			overflow: hidden;
			li {
				font-weight:100;
				font-size: rem-calc(18);
				line-height: rem-calc(30);
			}
		}
	}

}

// FRONT GRID

$fg-text-padding: rem-calc(10);
$text-color: #979797;
$background-color: #D8D8D8;

.front-grid {
	background-color: $background-color;
	padding-top: rem-calc(20);
	.article-tile {
		&:hover {			
			-moz-box-shadow: 0px 0px 7px $landing-dark-gray;
			-webkit-box-shadow: 0px 0px 7px $landing-dark-gray;
			box-shadow: 0px 0px 7px $landing-dark-gray;
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color='#333333')";
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color='#333333');
			cursor:pointer;
		}
		position: relative;
		margin: rem-calc(10);
		height: rem-calc(400);
		.image {
			height: 75%;
			background: center;
			background-size: cover;
		}
		.text {
	    position:relative;
			-webkit-box-shadow: 0 -2px 16px 0px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 -2px 16px 0px rgba(0, 0, 0, 0.1);
			box-shadow: 0 -2px 16px 0px rgba(0, 0, 0, 0.1);
			height: 25%;
			padding: $fg-text-padding;
			background-color: white;
			color: $text-color;
			.headline {
				font-size: rem-calc(14);
				line-height: 1.2em;
				font-weight: 500;
			}
			.date {
				position: absolute;
				bottom: $fg-text-padding;
				right: $fg-text-padding;
				font-weight: 200;
			}		
		}
	}
}