@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

#v2header {

	margin-top: rem-calc(20);

	font-weight: 200;

	hr {
		margin-top: rem-calc(10);
		margin-bottom: 0;
	}

	a {
		color: #000000;
	}

	// FOR INACTIVE MENU ITEMS
	.inactive {
		font-weight: 100;
		color: $landing-middle-gray;
	}

}

#v2subheader {

	margin-top: rem-calc(5);

	font-weight: 200;


	a {
		color: #000000;
	}

	// FOR INACTIVE MENU ITEMS
	.inactive {
		font-weight: 100;
		color: $landing-middle-gray;
	}

	.navbar {
	    width: 100%;
	    margin-left: auto ;
	    margin-right: auto ;
	    // background-color: #ABCDEF;
	}
	.navbar ul {
		list-style-type: none; /*to remove bullets*/
		text-align: center;
		padding: 0px;
		zoom:1;
		// border:1px solid red;
		overflow: hidden;
	}
	.navbar li{
	    padding: 2px;
	    text-align:justify;
	    width: 10%;
	    display:inline-block;
	}

}

.breadcrumbs {
	margin-top: rem-calc(20);
	font-weight: 100;
	.current {
		font-weight: 200;
	}

}
.breadcrumbs > *:before {
	top: -2px;
}