@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


.brandindex-top{
	min-height: 100vh;
	h1 > strong {
		color: $landing-middle-gray;
	}
	h1 > strong.active {
		color: $landing-dark-gray;
		border-bottom: 3px solid $landing-dark-gray;
	}
	h2 {
		display: inline-block;
		font-weight: 700;
		color: #9B9B9B;
		margin-left: rem-calc(-30);
	}
	h3 {
		color: #9B9B9B;
	}
	a {
		color: $landing-blue;
		// font-size: 50%;
		&:hover { 
			color: $landing-dark-gray;
		}
	}
}


.index-item-conatiner{
	background-color: white;
	// border: 1px solid $landing-middle-gray;
	padding: rem-calc(10);
	margin: 0 rem-calc(10);
	width: rem-calc(175);
	height: rem-calc(175);
	.index-item {
		.image {
			text-align: center;
			height: 150px;
			overflow: hidden;
		}
		.image img {
			height: 100%;
		}
		.name {
			text-align: center;
			font-weight: 500;
			font-size: rem-calc(12);
			color: $landing-middle-gray;
			a {
				color: $landing-middle-gray;
			}
		}
		&.filtered {
			margin-bottom: rem-calc(60);
		}	
	}
}

.center-menu {
	float:left;
	width:100%;
	// background:#fff;
	overflow:hidden;
	position:relative;
	ul {
		clear:left;
		float:left;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		left:50%;
		text-align:center;
		li {
			display:block;
			float:left;
			list-style:none;
			margin: 0 rem-calc(5);
			font-weight: 500;
			font-size: rem-calc(15);
			padding: 0 rem-calc(5);
			position:relative;
			right:50%;
			color: $landing-middle-gray;
			border-bottom: 2px solid $landing-middle-gray;
			&.active {
				color: $landing-dark-gray;
				border-bottom: 2px solid $landing-dark-gray;
			}
			a {
				display:block;
				text-decoration:none;
				color: $landing-middle-gray;
				&:hover {
					color: $landing-dark-gray;
				}
			}
		}
	}
}


.filtered-results, .all-results {
	margin-top: rem-calc(20);
	padding: rem-calc(20);
	border-top: 1px solid $landing-middle-gray;
	border-bottom: 1px solid $landing-middle-gray;
}
