@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.brandindex-top{
	min-height: 100vh;
	h1 > strong {
		color: $landing-middle-gray;
	}
	h1 > strong.active {
		color: $landing-dark-gray;
	}
	h2 {
		display: inline-block;
		font-weight: 700;
		color: #9B9B9B;
		margin-left: rem-calc(-30);
	}
}
.index-item {
	.image {
		text-align: center;
		height: 150px;
	}
	.name {
		text-align: center;
		font-weight: 100;
		font-size: rem-calc(12)
	}	
}

