@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

table.order {
	width: 90%;
	th {
		color: $landing-dark-gray;
		background: white;
		border: 1px dotted $landing-middle-gray;
	}
	tr.subtotal {
		background: scale-color($landing-light-gray, $lightness: 50%);;
		font-weight: 800;
	}
	tr.total {
		background: $landing-light-gray;
		font-weight: 800;
	}
	tr.inactive {
		th, td {
			color: $landing-middle-gray;
		}
	}
	a {
		color: $landing-blue;
		text-decoration: underline;
	}
}

.full-order-container {
	margin-top: rem-calc(20);
	margin-bottom: rem-calc(100);
	.panel.outer, .panel.order-alert {
		background: $landing-light-gray;
	}
	#order-panel-top {
		h2 { 
			margin: 0;
			line-height: 1em;
		}
		border: 1px dotted $landing-middle-gray;
		padding: rem-calc(10);
		hr {
			border-top: 1px solid $landing-middle-gray;
			margin: 0;
		}
	}
}

ul.order-flow-header, ul.order-index-filters {
	list-style-type: none; /*to remove bullets*/
	// margin-left:0;
	margin-bottom: 0;
	padding: 0px;
	zoom:1;
	margin-left: 0;
	overflow: hidden;
	li {
		color: $landing-middle-gray;
		vertical-align: top;
		font-weight:100;
		font-size: rem-calc(25);
		display: inline-block;
		// margin: 0 rem-calc(5);
		// padding: rem-calc(10) rem-calc(0) rem-calc(0) rem-calc(0);
		&::before {
			content: "\00a0\002F\00a0";
		}
		&:first-child {
			margin-left: 0;
		}
		&:first-child::before {
			content: " ";
		}
		&.active {
			color: $landing-dark-gray;
			font-weight:500;
			&::before {
				font-weight: 100;
				color: $landing-middle-gray;
			}
		}
	}
}

table#order-index {
	th {
		background-color: $landing-blue;
		font-weight: 500;
		color: white;
	}
	tbody tr {
		background-color: white;
	}
	td a{
    display:block;
    width:100%;
    color: $landing-dark-gray;
  }
	font-weight: 100;
	width: 100%;
}
/* Sortable tables */
table.sortable thead {
    background-color: $landing-light-gray;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table#orders_chart {
	background-color: $landing-cream;
	width: 100%;
	font-weight: 100;
	border-spacing: 0;
	margin-bottom: rem-calc(5);
	th {
		text-align: center;
		background-color: $landing-light-gray;
	}
	td {
		color: $landing-middle-gray;
	}
	td a{
    display:block;
    width:100%;
		color: $landing-dark-gray;
		font-weight: 200;
		&.completed {
			color: $landing-middle-gray;
			font-weight: 100;
		}
	}
	tr.active {
		background-color: $landing-blue;
		td a {
			font-weight: 500;
			color: white;
		}
	}
}

table.date-control {
	width: 100%;
	border: none;
	input[type=text] {
		margin-bottom: 0;
		background: none;
		border: 1px solid $landing-light-gray;
		font-weight: 500;
	}
	margin: auto;
	td:first-child {
		background: $landing-light-gray;
		color: $landing-dark-gray;
	}
	td:nth-child(2) {
		border: 1px solid $landing-light-gray;
		font-weight: 500;
	}
}