@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

table.order {
	width: 90%;
	th {
		color: $landing-dark-gray;
		background: white;
		border: 1px dotted $landing-middle-gray;
	}
	tr.subtotal {
		background: scale-color($landing-light-gray, $lightness: 50%);;
		font-weight: 800;
	}
	tr.total {
		background: $landing-light-gray;
		font-weight: 800;
	}
	tr.inactive {
		th, td {
			color: $landing-middle-gray;
		}
	}
	a {
		color: $landing-blue;
		text-decoration: underline;
	}
}

.full-order-container {
	margin-top: rem-calc(20);
	margin-bottom: rem-calc(100);
	.panel.outer, .panel.order-alert {
		background: $landing-light-gray;
	}
	#order-panel-top {
		h2 { 
			margin: 0;
			line-height: 1em;
		}
		border: 1px dotted $landing-middle-gray;
		padding: rem-calc(10);
		hr {
			border-top: 1px solid $landing-middle-gray;
			margin: 0;
		}
	}
}