@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


// from profile view > orders
ul.order-breadcrumb { 
	list-style-type: none; /*to remove bullets*/
	margin: rem-calc(10) 0 0 0;
	padding: 0px;
	overflow: hidden;
	li {
		// vertical-align: bottom;
		font-size: rem-calc(18);
		display: block;
		// border: 1px solid transparent;
		font-weight:500;
		&#back {
			font-size: rem-calc(12);
			padding-left: rem-calc(2);
			padding-right: rem-calc(4);
			display: inline-block;
			a {
				&:hover {
					text-decoration: underline;
					left: -5px;
				}
			}
		}
		&#active {
			padding-left: rem-calc(9);
			border-top: 1px dotted $landing-middle-gray;
			border-left: 1px dotted $landing-middle-gray;
			border-right: 1px dotted $landing-middle-gray;
			// padding-top: rem-calc(9);
			// background-color: $landing-lighter-blue;
		}
	}
}

table.order {
	width: 90%;
	border-collapse: collapse;
	border: 1px solid $landing-light-gray;
	th,tr {
		color: $landing-dark-gray;
		background: white;
		
	}
	th{border: 1px solid $landing-middle-gray;}
	tr.subtotal {
		background: scale-color($landing-light-gray, $lightness: 50%);;
		font-weight: 800;
	}
	tr.total {
		background: $landing-light-gray;
		font-weight: 800;
	}
	tr.inactive {
		th, td {
			color: $landing-middle-gray;
		}
	}
	a {
		color: $link-color;
		text-decoration: underline;
	}
}

.full-order-container {
	.panel.outer, .panel.order-alert {
		border: none;
		.panel {
			border: 1px solid $landing-middle-gray;
		}
	}
	#order-panel-top {
		background-color: $landing-light-gray;
		h2 { 
			margin: 0;
			line-height: 1em;
		}
		border: 1px dotted $landing-middle-gray;
		padding: rem-calc(4) rem-calc(10) rem-calc(10) rem-calc(10);
		hr {
			border-top: 1px solid $landing-middle-gray;
			margin: 0;
		}
	}
}

ul.order-flow-header, ul.order-index-filters {
	list-style-type: none; /*to remove bullets*/
	display: table;
	// background-color: white;
	width: 100%;
	margin: auto;
	// border: 1px solid $landing-middle-gray;
	padding: 0 rem-calc(10) 0 rem-calc(10);
	zoom:1;
	text-align: center;
	overflow: hidden;
	&[data-steps="3"] li { width: 33%; }
	&[data-steps="4"] li { width: 25%; }
	&[data-steps="5"] li { width: 20%; }
	&[data-steps="8"] li { width: 12.5%; }

	li {
		display: inline-block;
		position: relative;
		// border: 1px solid red;
		color: white;
		background-color: $landing-middle-gray;
		vertical-align: top;
		font-weight:200;
		font-size: rem-calc(18);
		@media #{$small-only} {
			font-size: rem-calc(12);
		}
		display: inline-block;
		& > span {
			display: block;
			text-transform: lowercase;
			margin-left: rem-calc(15);
			&:after, &:before {
				content: "";
				display: block;
				width: 0px;
				height: 0px;
				position: absolute;
				top: 0;
				left: 0;
				border: solid transparent;
				border-left-color: $landing-middle-gray;
				border-width: 15px;
			}
			&:after {
				top: -5px;
				z-index: 1;
				border-left-color: $landing-light-gray;
				border-width: 20px;
			}
			&:before {
				z-index: 2;
			}
		}
		&.done, &.done > span {
			color: white;
			font-weight: 600;
			background-color: $landing-blue;
		}
		&.done + li > span:before {
			border-left-color: $landing-blue;
		}
		&:first-child > span:after, &:first-child > span:before {
			display: none;
		}
		&:first-child i, &:last-child i {
			display: block;
			height: 0;
			width: 0;
			position: absolute;
			top: 0;
			left: 0;
			border: solid transparent;
			border-left-color: $landing-light-gray;
			border-width: 15px;
		}
		&:last-child i {
			left: auto;
			right: -15px;
			border-left-color: transparent;
			border-top-color: $landing-light-gray;
			border-bottom-color: $landing-light-gray;
		}
		// margin: 0 rem-calc(5);
		// padding: rem-calc(10) rem-calc(0) rem-calc(0) rem-calc(0);
		// &::before {
		// 	background-image: url('/images/pinkarrow.png');
		// 	background-size: contain;
		// 	background-position: center;
		// 	background-repeat: no-repeat;
		// 	display: inline-block;
		// 	width: 20px;
		// 	height: 18px;
		// 	@media #{$small-only} {
		// 		width: 10px;
		// 		height: 10px;
		// 	}
		// 	margin: 0 rem-calc(5);
		// 	content:"";
		// }
		// &:first-child {
		// 	margin-left: 0;
		// }
		// &:first-child::before {
		// 	// content: " ";
		// 	display: none;
		// }
		&.active {
			color: $landing-dark-gray;
			font-weight:600;
			&::before {
				font-weight: 100;
				color: $landing-middle-gray;
			}
		}
	}
}

table#order-index {
	th {
		background-color: $landing-blue;
		font-weight: 500;
		color: white;
	}
	tbody tr {
		background-color: white;
	}
	td a{
    display:block;
    width:100%;
    color: $landing-dark-gray;
  }
	font-weight: 100;
	width: 100%;
}
/* Sortable tables */
table.sortable thead {
    background-color: $landing-light-gray;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table#orders_chart {
	background-color: $landing-cream;
	width: 100%;
	font-weight: 100;
	border-spacing: 0;
	margin-bottom: rem-calc(5);
	th {
		text-align: center;
		background-color: $landing-light-gray;
	}
	td {
		color: $landing-middle-gray;
	}
	td a{
    display:block;
    width:100%;
		color: $landing-dark-gray;
		font-weight: 200;
		&.completed {
			color: $landing-middle-gray;
			font-weight: 100;
		}
	}
	tr.active {
		background-color: $landing-blue;
		td a {
			font-weight: 500;
			color: white;
		}
	}
}

table.date-control {
	width: 100%;
	border: none;
	input[type=text] {
		margin-bottom: 0;
		background: none;
		border: 1px solid $landing-light-gray;
		font-weight: 500;
	}
	margin: auto;
	td:first-child {
		background: $landing-light-gray;
		color: $landing-dark-gray;
	}
	td:nth-child(2) {
		border: 1px solid $landing-light-gray;
		font-weight: 500;
	}
}


// ORDER HEADER STYLING
#order-header, #order-comments {
	hr { border-top: 1px solid $landing-middle-gray;}
	#title {
		font-weight: 500;
	}
	margin-bottom: rem-calc(20);

	#header-row {
		padding-left: rem-calc(5);
		background-color: $landing-middle-gray;
		color: white;
		font-weight: 500;
		margin-top: rem-calc(20);
	}

	ul {
		li.title {
			font-weight: 100;
			border-bottom: 1px solid $landing-middle-gray;
			margin-bottom: rem-calc(5);
		}
		list-style-type: none; /*to remove bullets*/
		li.term {
			font-weight: 500;
		}
	}
	font-weight: 100;
}

#order-header {
	margin-top: rem-calc(20);
	h2 { margin-bottom: rem-calc(5);}
	ul#order-header-data {
		margin-top: rem-calc(10);
	}
	#order-shipping-data {
		#body {
			padding-left: rem-calc(5);
			ul {
				font-size: rem-calc(15);
				margin-left: 0;
				margin-top: rem-calc(5);
				li {
					line-height: 1.25em;
				}
			}
			ul#shipping-address {
				font-weight: 500;
			}
		}
	}
}

#order-comments {
	margin-top: rem-calc(20);
	ul { 
		list-style-type: none;
		margin-left: 0;
		margin-top: rem-calc(20);
		li {
			margin: rem-calc(20) 0;
			padding: rem-calc(10);
			background-color: $landing-light-gray;
		}
	}
	.order-comment-display {
		margin: rem-calc(10);
		#comment-title {

		}
		#comment-body {
			padding: rem-calc(10);
			background-color: white;
		}
	}

	#data {
		margin-left: rem-calc(5);
	}
}
