@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.article{
	margin-bottom: rem-calc(200);
	.articlepreviewtext {
		margin-top: rem-calc(39);
	}
	h1 {
		font-size: rem-calc(24);
		font-weight: 800;
		line-height: 1em;
	}
	h2 {
		font-size: rem-calc(20);
		font-weight: 500;
	}
	h3{
		font-weight: 100;
	}
	p{
		font-size: rem-calc(14);
		text-align: justify;
		margin: rem-calc(20) 0;
	}
	.byline {
		font-weight: 100;
		font-size: rem-calc(20);
	}
	.social {
		font-weight: 100;
		font-size: rem-calc(14);	
		margin: rem-calc(25) 0;	
	}
	ul.featuringlist {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		li {
			font-weight:700;
			display: block;
			vertical-align: top;
			margin: rem-calc(20) 0 rem-calc(20) 0;
			span.image, span.description{ 
				display: inline-block;
			}
			span.image {
				// display: inline-block;
				// width: 40%;
				padding-bottom: rem-calc(10);
				border-bottom: 1px solid $landing-middle-gray;
				img {
					margin: auto;
					width: 100%
				}
			}
		}
	}

	ul.pullquote {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		border-left: 3px solid $landing-middle-gray;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
		li {
			font-weight:100;
			font-size: rem-calc(21);
			margin: rem-calc(20) 0 rem-calc(20) rem-calc(23);
			line-height: 1;
			&.header {
				font-weight: 600;
			}
		}
	}

	ul.callout {
		list-style-type: none; /*to remove bullets*/
		text-align: left;
		margin-left:0;
		border-left: 3px solid $landing-middle-gray;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		margin-top: rem-calc(40);
		margin-bottom: rem-calc(40);
		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
		li {
			font-weight:100;
			font-size: rem-calc(14);
			margin: rem-calc(20) 0 rem-calc(20) rem-calc(23);
			line-height: 1;
			&.header, &.subheader {
				font-weight: 600;
			}
			&.subheader {
				color: $landing-dark-gray;
			}
			.column-right, .column-left {
				display: inline-block;
				margin: 0 rem-calc(10);
			}
		}
	}
}

#article-carousel.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 45px;
  top: 250px; 
}
 
#article-carousel.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 45px;
  top: 250px;
}