@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


// PROFILE DISPLAY

.profile-tabs {
  padding-top: rem-calc(5);
  h2 {
    display: inline;
    cursor: pointer;
    padding: 0 rem-calc(5) rem-calc(2) rem-calc(5);
    border-top: 1px dotted $landing-middle-gray;
    border-left: 1px dotted $landing-middle-gray;
    border-right: 1px dotted $landing-middle-gray;
    background: scale-color($landing-middle-gray, $lightness: 40%);
    color: white;
    &:hover {
      background: $landing-light-gray;
      color: black;
    }
    &.active {
      background: white;
      color: black;
    }
    &.active:hover {
      cursor: text;
    }
  }
}

.profile-action-panel {
  #open, #submitted, #pending {
    font-weight: 400;
  }
  #open {
    color: blue;
  }
  #submitted {
    color: orange;
  }
  #pending {
    color: green;
  }
}

#profile-profile, #profile-conversation {
  // display: none;
}

.profile-list-item {
  position: relative;
  // border-bottom: 1px solid $landing-middle-gray;
  // border-radius: 1em;
  background: white;
  padding: rem-calc(10);
  margin-top: rem-calc(2);
  .country {
    position: absolute;
    top: 0px;
    right: 0px;
    background: $landing-light-gray;
  }
}


.profile-logo-area {
  height: rem-calc(80);
  // margin-top: rem-calc(15);
  img.uploaded-logo  {
    width: auto !important;
    max-height: 80px;
  }
}

.profile-indicators {
  // padding: rem-calc(5);
}

.profile-social-link {
  font-weight: 200;
  color: $landing-dark-gray;
  font-size: rem-calc(15);
  text-decoration: underline;
}

// PROFILE STYLING (UPDATED)

.profile-trade-shows {
  h2 {
    display: inline;
  }
}

.profile-container {
  padding: 0;
  background-color: white;
}
.profile-content {
  padding: rem-calc(10);
  hr {
     // border: 1px solid $landing-middle-gray;
     border-color: $landing-middle-gray;
     margin-top: 0px;
  }

}


// NEW PROFILE TILES

.profile-wrapper {
  // display: none;
}
.profile-sq-wrapper {
  background: white;
}
a.profile-sq-left {
  display: block;
}
.profile-sq-left, .profile-sq-right {
  min-height: rem-calc(280);
  position: relative;
  .profile-sq-sectors-country {
    position: absolute;
    bottom: 0px;
    right: 0px;
    @include transparent(#000, 0.4);
    padding: rem-calc(5);
    color: $landing-light-gray;
    font-weight: 100;
  }
}

.profile-sq-left {
  // background-image: url("/images/crate.jpg");
  // background-image: url("/images/SECTORS_personalcare.svg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.profile-sq-right {
  padding: rem-calc(5) !important;
  background-color: white;
  h2 a {
    color: black;
  }
}

.profile-sq-indicators {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.gallery-item {
  margin: rem-calc(25) 0;
}


.gallery-window {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  max-height: rem-calc(200);
  overflow-y: hidden;

  // THESE ARE FOR BLANK GALLERIES
  &.gallery-distributor, &.gallery-brand {
    height: 75%;
    height: 75vh;  
  }
  &.gallery-distributor#uk {
    height: 75%;
    height: 75vh;
    background: transparent url("/images/SECTORS_babykids.svg") center;
    background-size: cover;
  }
  &.gallery-brand#fashionaccessories {
    background: transparent url("/images/SECTORS_fashionaccessories.svg") center;
    background-size: cover;
  }
}
.tags-window {
  padding: rem-calc(10);
  // border-left: 1px solid $landing-middle-gray;
}
.profile-header {
  padding: rem-calc(9) rem-calc(10) rem-calc(5) rem-calc(10);
  background-color: $landing-light-gray;
  h4 {
    color: $landing-dark-gray;
    font-weight: 100;
  }
  &#profile-main-top {
    border-top: 1px solid $landing-middle-gray;
    border-bottom: 1px solid $landing-middle-gray;
  }
  &#profile-main-bottom {
    // border-top: 1px solid $landing-middle-gray;
    // border-bottom: 1px solid $landing-middle-gray;
    background-color: white;
  }  

}

.brand-positioning, .company-introduction {
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(40);
}
.profile-logo {
  margin: rem-calc(20) 0;
}
.profile-section-head {
  color: $landing-middle-gray;
  font-size: rem-calc(17);
  font-weight: 500;
  margin: rem-calc(40) 0 rem-calc(20) rem-calc(10) ;
  border-bottom: 1px solid $landing-middle-gray;
}
.profile-skus {

  .profile-sku-item {
    margin: rem-calc(20) 0 ;
    padding-bottom: rem-calc(20);
    border-bottom: 1px solid $landing-middle-gray;
  }

}
.profile-general-info-preview {
  color: $landing-dark-gray;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;

  & ul {
    list-style-type: none; /*to remove bullets*/
    text-align: left;
    padding: 0px;
    zoom:1;
    overflow: hidden;
    // :first-child {text-align: left;}
    // :last-child {text-align: right;}
  }
  & li {
      padding: 2px;
      text-align: left;
      vertical-align: top;
      width: 24%;
      display:inline-block;
  }
  .title {
    font-size: rem-calc(11);
    font-weight: 200;
  }
  .data {
    font-size: rem-calc(11);
    font-weight: 500;
  }
}

.profile-general-info {
  color: $landing-dark-gray;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  .data {
    font-size: rem-calc(15);
    font-weight: 200;
    margin: rem-calc(10) 0;
    strong {
      font-weight: 500;
      color: $landing-dark-gray;
    }
    .item {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.brand-snapshot {
  border: 1px solid $landing-middle-gray;
  padding: rem-calc(5);
  margin-top: rem-calc(50);
}

.profile-section-title {
  font-weight: 300;
  padding-left: rem-calc(3);
}


#restricted-view-container {
  border: 1px solid black;
  padding: rem-calc(10) rem-calc(20);
}


////////////
// PROFILE PREVIEW
////////////

#profile-restricted-view {
  a.action-link {
    font-weight: 300;
    color: $landing-dark-gray;
    padding: rem-calc(5) rem-calc(10);
    border: 1px solid $landing-middle-gray;
    &:hover {
      background: $landing-middle-gray;
      color: white;
    }
  }
  h2, h3 {
    line-height: 1em;
  }
  #copy {
    margin: rem-calc(30) 0;
  }
}

// ORDER MODAL
#order {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:90%; 
    margin: 0 0 0 -45%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#order-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-order {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

// ORDER ITEM MODAL
#order-item {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:95%; 
    margin: 0 0 0 -47.5%;
  }
  @media only screen and (min-width: 40.063em) { 
    margin: 0 0 0 -25%;
    width:50%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#order-item-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-order-item {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

// PROFILE PREVIEW MODAL
#profile-preview {
  position: fixed;
  top: 10%;
  left: 50%;
  margin: 0 0 0 -37.5%;
  width:75%;
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;

  & .brand-positioning {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(10);
    p {
      font-size: rem-calc(11);
    }
    a {
      color: $landing-dark-gray;
    }
    
  }

  & .brand-snapshot {
    margin-top: rem-calc(5);
    padding: rem-calc(5) rem-calc(5);
  }

  & .profile-content {
    padding: 0;
  }

  & a#full-profile-link {
    display: inline-block;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(10);
    font-weight: 200;
    color: $landing-dark-gray;
    border: 1px solid $landing-middle-gray;
    padding: rem-calc(5) rem-calc(10);
  }
  & a#full-profile-link:hover {
    color: $landing-dark-gray;
  }

  & .owl-carousel {
    margin: rem-calc(10) 0 0 0;
  }
}
#profile-preview-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-profile-preview {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

// resized font for BRAND PREVIEW
.brand-snapshot#preview .profile-general-info {
  .title {
    font-size: rem-calc(13);
    font-weight: 500;
  }
  .data {
    font-size: rem-calc(11);
    font-weight: 200;
  }
}

