@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


// PROFILE DISPLAY

#shopping-cart {
  border-bottom: 2px solid transparent;
  .count {
    font-size: rem-calc(12);
    background: red;
    border-radius: 0.8em;
    margin: auto;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    // font-weight: bold;
    line-height: 1.2em;
    text-align: center;
    width: 1.2em;
  }
  &.active {
    border-bottom: 2px solid black;
  }
}

#profile {
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid black;
  }
}
#orders {
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid black;
  }
}


#profile-nav {
  margin-bottom: rem-calc(10);
  border-bottom: 1px solid $landing-middle-gray;
  #top {
    position: relative;
    padding: rem-calc(5);
    background: $landing-lighter-blue;
    border-bottom: 1px solid $landing-light-gray;
    border-top: 1px solid $landing-light-gray;
    h1 {font-weight:700; color: landing-dark-gray;}
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      @media #{$small-only} {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+56,1+100 */
      background-image: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background-image: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
      }
      @media #{$medium-up} {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+56,1+100 */
      background-image: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background-image: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background-image: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
      }
      opacity: .9;
    }
    #left {
      min-height: rem-calc(100);
    }
    #right {
      min-height: rem-calc(100);
      img#logo { 
      }
    }    
  }
  #bottom {
    border-left: 1px solid $landing-light-gray;
    ul.navlist {
      // border-bottom: 1px solid $landing-middle-gray;
      background-color: white;
      list-style-type: none; /*to remove bullets*/
      margin-left: 0;
      margin-bottom: 0;
      padding: 0px;
      zoom:1;
      overflow: hidden;
      li {
        font-weight: 900;
        vertical-align: bottom;
        a{
          color: $link-color;
          font-weight: 900;
        }
        font-size: rem-calc(18);
        display: inline-block;
        // margin-right: rem-calc(10);
        padding: rem-calc(8) rem-calc(5) rem-calc(0) rem-calc(5);
        border-bottom: rem-calc(3) solid transparent;
        &.active {
          border-bottom: rem-calc(3) solid $landing-middle-gray;
          a{color: $landing-dark-gray;}
        }
      }
      &#left {
        float: left;
      }
      &#right {
        float: right;
        a{font-size: rem-calc(15);font-weight: 200;}
      }
    }
  }
}

#edit-profile-nav {
  margin-bottom: rem-calc(10);
  border-bottom: 1px solid $landing-middle-gray;
  border-left: 1px solid $landing-middle-gray;
  #top {
    position: relative;
    padding: rem-calc(5);
    // background: $landing-light-gray;
    border-bottom: 1px solid $landing-light-gray;
    border-top: 1px solid $landing-light-gray;
    font-weight: 100;
    h1 {font-weight:100; color: landing-dark-gray;}
    #left {
      min-height: rem-calc(100);
    }
    #right {
      min-height: rem-calc(100);
    }    
  }
  #bottom {
    border-left: 1px solid $landing-light-gray;
    ul.navlist {
      // border-bottom: 1px solid $landing-middle-gray;
      background-color: white;
      list-style-type: none; /*to remove bullets*/
      margin-left: 0;
      margin-bottom: 0;
      padding: 0px;
      zoom:1;
      overflow: hidden;
      li {
        font-weight: 900;
        vertical-align: bottom;
        a{
          color: $link-color;
          font-weight: 900;
        }
        font-size: rem-calc(18);
        display: inline-block;
        // margin-right: rem-calc(10);
        padding: rem-calc(8) rem-calc(5) rem-calc(0) rem-calc(5);
        border-bottom: rem-calc(3) solid transparent;
        &.active {
          border-bottom: rem-calc(3) solid $landing-middle-gray;
          a{color: $landing-dark-gray;}
        }
      }
      &#left {
        float: left;
      }
      &#right {
        float: right;
        a{font-size: rem-calc(15);font-weight: 200;}
      }
    }
  }
}

.general-info {
  padding: rem-calc(10);
  border: 1px solid $landing-middle-gray;
  // background-color: $landing-lighter-blue;
  border-radius: rem-calc(5);

  .profile-general-info-item {
    padding: rem-calc(5);
    line-height: 1em;
    margin: auto;
    font-weight: 200;
    .title {
      font-weight: 500;
      color: $landing-middle-gray;
      font-size: rem-calc(10);
      // text-transform: uppercase;
    }
    .tagset {
      // background-color: white;
      padding: rem-calc(5) 0;
      .profile-tag {
        display: block;
        margin-bottom: rem-calc(5);
        font-size: rem-cal(10);
        font-weight: 300;
      }
    }
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      margin-top: rem-calc(15);
      background: $landing-middle-gray;
    }
    &:last-child::after {
      background: none;
    }
  }  
}

.profile-tabs {
  padding-top: rem-calc(5);
  h2 {
    display: inline;
    cursor: pointer;
    padding: 0 rem-calc(5) rem-calc(2) rem-calc(5);
    border-top: 1px dotted $landing-middle-gray;
    border-left: 1px dotted $landing-middle-gray;
    border-right: 1px dotted $landing-middle-gray;
    background: scale-color($landing-middle-gray, $lightness: 40%);
    color: white;
    &:hover {
      background: $landing-light-gray;
      color: black;
    }
    &.active {
      background: white;
      color: black;
    }
    &.active:hover {
      cursor: text;
    }
  }
}

.profile-action-panel {
  #open, #submitted, #pending {
    font-weight: 400;
  }
  #open {
    color: blue;
  }
  #submitted {
    color: orange;
  }
  #pending {
    color: green;
  }
}

#profile-profile, #profile-conversation {
  // display: none;
}

.profile-list-item {
  position: relative;
  // border-bottom: 1px solid $landing-middle-gray;
  // border-radius: 1em;
  background: white;
  padding: rem-calc(10);
  margin-top: rem-calc(2);
  .country {
    position: absolute;
    top: 0px;
    right: 0px;
    background: $landing-light-gray;
  }
}


.profile-logo-area {
  height: rem-calc(80);
  // margin-top: rem-calc(15);
  img.uploaded-logo  {
    width: auto !important;
    max-height: 80px;
  }
}

.profile-indicators {
  // padding: rem-calc(5);
}

.profile-social-link {
  font-weight: 200;
  color: $landing-dark-gray;
  font-size: rem-calc(15);
  text-decoration: underline;
}

// PROFILE STYLING (UPDATED)

.profile-trade-shows {
  h2 {
    display: inline;
  }
}

.profile-container {
  padding: 0;
  background-color: white;
}
.profile-content {
  padding: rem-calc(10);
  hr {
     // border: 1px solid $landing-middle-gray;
     border-color: $landing-middle-gray;
     margin-top: 0px;
  }

}


// NEW PROFILE TILES

.profile-wrapper {
  // display: none;
}
.profile-sq-wrapper {
  background: white;
}
a.profile-sq-left {
  display: block;
}
.profile-sq-left, .profile-sq-right {
  min-height: rem-calc(280);
  position: relative;
  .profile-sq-sectors-country {
    position: absolute;
    bottom: 0px;
    right: 0px;
    @include transparent(#000, 0.4);
    padding: rem-calc(5);
    color: $landing-light-gray;
    font-weight: 100;
  }
}

.profile-sq-left {
  // background-image: url("/images/crate.jpg");
  // background-image: url("/images/SECTORS_personalcare.svg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.profile-sq-right {
  padding: rem-calc(5) !important;
  background-color: white;
  h2 a {
    color: black;
  }
}

.profile-sq-indicators {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.gallery-item {
  margin: rem-calc(25) 0;
}


.gallery-window {
  // padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  min-height: rem-calc(200);
  overflow-y: hidden;

  // THESE ARE FOR BLANK GALLERIES
  &.gallery-distributor, &.gallery-brand {
    height: 75%;
    height: 75vh;  
  }
  &.gallery-distributor#uk {
    height: 75%;
    height: 75vh;
    background: transparent url("/images/SECTORS_babykids.svg") center;
    background-size: cover;
  }
  &.gallery-brand#fashionaccessories {
    background: transparent url("/images/SECTORS_fashionaccessories.svg") center;
    background-size: cover;
  }
}
.profile-header {
  padding: rem-calc(9) rem-calc(10) rem-calc(5) rem-calc(10);
  background-color: $landing-light-gray;
  h4 {
    color: $landing-dark-gray;
    font-weight: 100;
  }
  &#profile-main-top {
    border-top: 1px solid $landing-middle-gray;
    border-bottom: 1px solid $landing-middle-gray;
  }
  &#profile-main-bottom {
    // border-top: 1px solid $landing-middle-gray;
    // border-bottom: 1px solid $landing-middle-gray;
    background-color: white;
  }  

}

.brand-positioning, .company-introduction {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(40);
}
.profile-logo {
  margin: rem-calc(20) 0;
}
.profile-section-head {
  color: $landing-middle-gray;
  font-size: rem-calc(17);
  font-weight: 500;
  margin: rem-calc(40) 0 rem-calc(20) rem-calc(10) ;
  border-bottom: 1px solid $landing-middle-gray;
}
.profile-skus {

  .profile-sku-item {
    margin: rem-calc(20) 0 ;
    padding-bottom: rem-calc(20);
    border-bottom: 1px solid $landing-middle-gray;
  }

}

#product-preview {
  .products-description {
    margin-top: rem-calc(25); 
  }
}

.profile-general-info-preview {
  color: $landing-dark-gray;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;

  & ul {
    list-style-type: none; /*to remove bullets*/
    text-align: left;
    padding: 0px;
    zoom:1;
    overflow: hidden;
    // :first-child {text-align: left;}
    // :last-child {text-align: right;}
  }
  & li {
      padding: 2px;
      text-align: left;
      vertical-align: top;
      width: 24%;
      display:inline-block;
  }
  .title {
    font-size: rem-calc(11);
    font-weight: 200;
  }
  .data {
    font-size: rem-calc(11);
    font-weight: 500;
  }
}

.profile-general-info {
  color: $landing-dark-gray;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  .data {
    font-size: rem-calc(15);
    font-weight: 200;
    margin: rem-calc(10) 0;
    strong {
      font-weight: 500;
      color: $landing-dark-gray;
    }
    .item {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.brand-snapshot {
  border: 1px solid $landing-middle-gray;
  padding: rem-calc(5);
  margin-top: rem-calc(50);
}

.profile-section-title {
  font-weight: 300;
  padding-left: rem-calc(3);
}

#restricted-view-container {
  border: 1px solid black;
  padding: rem-calc(10) rem-calc(20);
  background-color: white;
}


////////////
// PROFILE PREVIEW
////////////

#profile-restricted-view {
  a.action-link {
    background-color: white;
    font-weight: 300;
    color: $landing-dark-gray;
    padding: rem-calc(5) rem-calc(10);
    border: 1px solid $landing-middle-gray;
    &:hover {
      background: $landing-middle-gray;
      color: white;
    }
  }
  h2, h3 {
    line-height: 1em;
  }
  #copy {
    margin: rem-calc(30) 0;
  }
}

// ORDER MODAL
#order {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:90%; 
    margin: 0 0 0 -45%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#order-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-order {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

// ORDER ITEM MODAL
#order-item {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:95%; 
    margin: 0 0 0 -47.5%;
  }
  @media only screen and (min-width: 40.063em) { 
    margin: 0 0 0 -25%;
    width:50%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#order-item-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-order-item {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

// PROFILE PREVIEW MODAL
.profile-preview {
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
  h2 { font-weight: 600;}
  &#profile-preview {
    position: fixed;
    top: 10%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    width:75%;
    max-height: 85%;
    display: none;
  }
  #close-profile-preview {
    position: absolute;
    top: rem-calc(-40);
    right: rem-calc(10);
    font-size: rem-calc(60);
    font-weight: 900;
    color: $landing-middle-gray;
    z-index: 100022;
  }
  &#settings-preview {
    display: block;
    margin: rem-calc(20) auto;
    width:90%;
    max-height: 85%;
  }
  & .brand-positioning {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(10);
    p {
      font-size: rem-calc(11);
    }
    a {
      color: $landing-dark-gray;
    }
    
  }

  & .brand-snapshot {
    margin-top: rem-calc(5);
    padding: rem-calc(5) rem-calc(5);
  }

  & .profile-content {
    padding: 0;
  }

  & a#full-profile-link {
    display: inline-block;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(10);
    font-weight: 500;
    font-size: rem-calc(12);
    text-transform: uppercase;
    // color: $landing-dark-gray;
    // border: 1px solid $landing-middle-gray;
    color: white;
    background-color: $link-color;
    padding: rem-calc(5) rem-calc(10);
  }
  & a#full-profile-link:hover {
    // color: $landing-dark-gray;
  }

  & .owl-carousel {
    margin: rem-calc(10) 0 0 0;
  }
}
#profile-preview-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}


// resized font for BRAND PREVIEW
.brand-snapshot#preview .profile-general-info {
  .title {
    font-size: rem-calc(13);
    font-weight: 500;
  }
  .data {
    font-size: rem-calc(11);
    font-weight: 200;
  }
}

// PROFILE FORM

// PROFILE EDIT UPDATE NOTICES

.update-notice {
  font-size: rem-calc(12);
  font-weight: 500;
  color: red;
}

// PROFILE SETTINGS > PROFILE PREVIEW

#settings-preview-top {
 border:1px solid $landing-middle-gray;
 padding-left: rem-calc(5);
}
#settings-preview-bottom {
 background-color: $landing-middle-gray; 
 padding-left: 5px;
}

// ARMOR COMBINED FORM

form#armor-combined {
  input.error {
    background-color: $landing-orange;
    color: $landing-light-gray;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $landing-light-gray;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    $landing-light-gray;
       opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    $landing-light-gray;
       opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    $landing-light-gray;
    }
  }
}

// ARMOR 

table.armor-account-summary {
  margin: auto;
  margin-top: rem-calc(30);
  font-weight: 200;
  font-size: rem-calc(12);
  width: 90%;
  .fieldname {
    background-color: $landing-light-gray;
    &.darker {
      background-color: scale-color($landing-light-gray, $lightness: -10%);
    }
  }
}
