@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


// INVENTORY ITEM MODAL
#inventory-item {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:95%; 
    margin: 0 0 0 -47.5%;
  }
  @media only screen and (min-width: 40.063em) { 
    margin: 0 0 0 -20%;
    width:40%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#inventory-item-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-inventory-item {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

table.inventory {
  margin-bottom: rem-calc(20);
  width: 100%;
  border: none;
  th {
    font-weight: 200;
    font-size: rem-calc(12);
    text-align: right;
    width: 25%;
  }
  tr {
    background-color: white;
    &.adjustments-header {
      th { 
        background-color: $landing-light-gray;
        line-height: 5px;
        &:first-child { border-left: 1px dotted $landing-middle-gray; }
        &:last-child { border-right: 1px dotted $landing-middle-gray; }
      }
    }
    &.product-header {
      background-color: darken($landing-light-gray, 10%);
      td { 
        font-size: rem-calc(15);
        font-weight: 200;
      }
    }
    &.item {
      &:nth-child(even) {background: $landing-light-gray;}
      td { 
        text-align: right;
        padding: rem-calc(2) rem-calc(10);
        &:first-child { border-left: 1px dotted $landing-middle-gray; }
        &:last-child { border-right: 1px dotted $landing-middle-gray; }
      }
      small { 
        color: $landing-middle-gray; 
      }
    }
    &.total {
      td {
        text-align: right;
      }
      td:first-child {
        border-top: 1px solid $landing-middle-gray;
        border-left: 1px solid $landing-middle-gray;
        border-bottom: 1px solid $landing-middle-gray;
        font-weight: 200;
      }
      td:last-child {
        border-top: 1px solid $landing-middle-gray;
        border-right: 1px solid $landing-middle-gray;
        border-bottom: 1px solid $landing-middle-gray;
        font-weight: 500;
        font-size: rem-calc(20);
      }
    }
    &.controls {
      td {
        line-height: 5px;
      }
      td.addnew {
        font-weight: 200;
        background-color: lighten($landing-blue, 30%);
        text-align: center;
        a { 
          display: block;
          color: $landing-dark-gray;
        }
        &:hover {
          background-color: lighten($landing-blue, 3%);
          a {
            color: white;
          }
        }
      }
    }
  }
}