@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


// INVENTORY ITEM MODAL
#inventory-item {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:95%; 
    margin: 0 0 0 -47.5%;
  }
  @media only screen and (min-width: 40.063em) { 
    margin: 0 0 0 -15%;
    width:30%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#inventory-item-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-inventory-item {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}