@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


.container {
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(15);
	margin: rem-calc(15) auto;
	background-color: #fff;
	& > #lead {
		position: relative;
		height: rem-calc(40);
		i {
			margin-right: rem-calc(10);
		}
		& > #title {
			position: absolute;
			left: 0;
			top: 0;
			// background-color: #D8D8D8;
			padding: 0 rem-calc(30);
			font-weight: 900;
			#sub {
				font-weight: 300;
			}
		}
		& > #close {
			position: absolute;
			right: 0;
			top: 0;
			padding: rem-calc(5);
			a {color: $landing-middle-gray;}
		}
	}
	&.marketplace {
		// border-top: 3px solid $landing-blue;
		& > #lead > #title {
			background-color: $landing-blue;
			color: white;
		}
	}
	&.insights {
		border-top: 3px solid green;
		& > #lead > #title {
			background-color: green;
			color: white;
		}
	}
	& > #main-body {
		padding: 0 rem-calc(30) rem-calc(30) rem-calc(30);
	}
	&#article {
		max-width: rem-calc(1000);
	}
}

ul.filterlist {
	list-style-type: none; /*to remove bullets*/
	text-align: left;
	margin-left:0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		font-weight:700;
		display: inline-block;
		&::before {
			content: "/ ";
		}
		&:first-child::before {
			content: " ";
		}
		&.active {
			a{color: $landing-dark-gray;}
		}
	}
}


input[type="text"].searchbox {
	&::-webkit-input-placeholder {
	   color: $landing-middle-gray;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
	}
	&:-ms-input-placeholder {
		color: $landing-middle-gray;
	}
	background-color: white;
	border-bottom: 1px solid $landing-middle-gray;
	&:focus {
		box-shadow: none;
	}
	&.white {
		&::-webkit-input-placeholder {
		color: white;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: white;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: white;
		}
		&:-ms-input-placeholder {
		color: white;
		}
	}
	&.white:focus {
		&::-webkit-input-placeholder {
		color: $landing-middle-gray;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
		}
		&:-ms-input-placeholder {
		color: $landing-middle-gray;
		}
	}
}


ul.tablist {
	list-style-type: none; /*to remove bullets*/
	margin-left:0;
	margin-bottom: 0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		vertical-align: bottom;
		a{color: $landing-blue;}
		font-weight:200;
		font-size: rem-calc(18);
		display: inline-block;
		margin: 0 rem-calc(5);
		padding: rem-calc(10) rem-calc(0) rem-calc(5) rem-calc(0);
		border-bottom: rem-calc(3) solid transparent;
		&.active {
			border-bottom: rem-calc(3) solid $landing-middle-gray;
		}
	}
}

.landing-notice {
	padding: rem-calc(25);
	border: 1px solid $landing-middle-gray;
	background: $landing-light-gray;
	font-weight: 200;
	font-size: rem-calc(15);
	@media #{$small-only} { font-size: rem-calc(10); }
	&:before {
		content: 'PLEASE NOTE: ';
	}
}


// MODALS

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  // background-color: rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.8);
  display: none;
  &#ajax-wait-overlay {
    z-index: 1000000;
    background-color: rgba(0,0,0,0.1);
  }
}

.ajax-wait {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000001; /* 1px higher than the overlay layer */
	.ajax-wait-inner {
		background-image: url('/images/landing_loading.gif');
		background-repeat: no-repeat;
		background-position: center;
	  position: absolute;
		width: 100px;
		height: 100px;
		top: 50%; 
		left: 50%;
		margin: -50px 0 0 -50px;
		background-color: $landing-light-gray;
		border: 1px solid $landing-middle-gray;
		border-radius: 5px;
		text-align: center;
		z-index: 1000002; /* 1px higher than the overlay layer */
		font-weight: 700;
	}
}

#ajax-message {
	position: fixed;
	@include transparent($landing-dark-gray, 0.7);
	bottom: 0;
	width: 100%;
	z-index: 1000001;
	display: none;
	#ajax-message-inner {
		background-color: green;
		color: white;
		font-weight: 500;
		font-size: rem-calc(15);
		position: relative;
		@media only screen { 
			width:95%; 
			margin: auto;
		}
		@media only screen and (min-width: 40.063em) { 
			max-width:40%;
			margin: auto
		}
		&#success {

		}
	}
}

// Inline error styling
.inline-error {
	font-size: rem-calc(12);
	font-weight: 300;
	color: red;
}

