@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


ul.filterlist {
	list-style-type: none; /*to remove bullets*/
	text-align: left;
	margin-left:0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		font-weight:700;
		display: inline-block;
		&::before {
			content: "/ ";
		}
		&:first-child::before {
			content: " ";
		}
		&.active {
			a{color: $landing-dark-gray;}
		}
	}
}


input[type="text"].searchbox {
	&::-webkit-input-placeholder {
	   color: $landing-middle-gray;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
	}
	&:-ms-input-placeholder {
		color: $landing-middle-gray;
	}
	background-color: white;
	border-bottom: 1px solid $landing-middle-gray;
	&:focus {
		box-shadow: none;
	}
	&.white {
		&::-webkit-input-placeholder {
		color: white;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: white;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: white;
		}
		&:-ms-input-placeholder {
		color: white;
		}
	}
	&.white:focus {
		&::-webkit-input-placeholder {
		color: $landing-middle-gray;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
		}
		&:-ms-input-placeholder {
		color: $landing-middle-gray;
		}
	}
}


ul.tablist {
	list-style-type: none; /*to remove bullets*/
	// margin-left:0;
	margin-bottom: 0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		a{color: $landing-blue;}
		font-weight:200;
		font-size: rem-calc(18);
		display: inline-block;
		margin: 0 rem-calc(5);
		padding: rem-calc(10) rem-calc(0) rem-calc(5) rem-calc(0);
		&.active {
			a{color: $landing-dark-gray;}
			font-weight:300;
			border-bottom: rem-calc(3) solid $landing-dark-gray;
		}
	}
}


