@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


ul.filterlist {
	list-style-type: none; /*to remove bullets*/
	text-align: left;
	margin-left:0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		font-weight:700;
		display: inline-block;
		&::before {
			content: "/ ";
		}
		&:first-child::before {
			content: " ";
		}
		&.active {
			a{color: $landing-dark-gray;}
		}
	}
}


input[type="text"].searchbox {
	&::-webkit-input-placeholder {
	   color: $landing-middle-gray;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
	}
	&:-ms-input-placeholder {
		color: $landing-middle-gray;
	}
	background-color: white;
	border-bottom: 1px solid $landing-middle-gray;
	&:focus {
		box-shadow: none;
	}
	&.white {
		&::-webkit-input-placeholder {
		color: white;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: white;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: white;
		}
		&:-ms-input-placeholder {
		color: white;
		}
	}
	&.white:focus {
		&::-webkit-input-placeholder {
		color: $landing-middle-gray;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
		}
		&:-ms-input-placeholder {
		color: $landing-middle-gray;
		}
	}
}


ul.tablist {
	list-style-type: none; /*to remove bullets*/
	// margin-left:0;
	margin-bottom: 0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		vertical-align: bottom;
		a{color: $landing-blue;}
		font-weight:200;
		font-size: rem-calc(18);
		display: inline-block;
		margin: 0 rem-calc(5);
		padding: rem-calc(10) rem-calc(0) rem-calc(5) rem-calc(0);
		border-bottom: rem-calc(3) solid transparent;
		&.active {
			border-bottom: rem-calc(3) solid $landing-middle-gray;
		}
	}
}

.landing-notice {
	padding: rem-calc(25);
	border: 1px solid $landing-middle-gray;
	background: $landing-light-gray;
	font-weight: 200;
	font-size: rem-calc(15);
	@media #{$small-only} { font-size: rem-calc(10); }
	&:before {
		content: 'PLEASE NOTE: ';
	}
}

.shopping-cart {
	position: relative;
	height: rem-calc(50);
	width: rem-calc(50);
	background: url("/images/cart.png");
	background-size: 80%;
	background-position: top center;
	background-repeat: no-repeat;
	&:after {
		content: "CART";
		font-size: rem-calc(5);
		color: $landing-middle-gray;
		position: absolute;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
	.count {
		position: absolute;
		font-size: rem-calc(12);
		right: rem-calc(7);
		top: rem-calc(2);
		background: red;
		border-radius: 0.8em;
		-moz-border-radius: 0.8em;
		-webkit-border-radius: 0.8em;
		color: #ffffff;
		display: inline-block;
		// font-weight: bold;
		line-height: 1.2em;
		text-align: center;
		width: 1.2em; 
	}
}

.profile {
	position: relative;
	height: rem-calc(50);
	width: rem-calc(50);
	background: url("/images/profile.png");
	background-size: 80%;
	background-position: top center;
	background-repeat: no-repeat;
	&:after {
		content: "PROFILE";
		font-size: rem-calc(5);
		color: $landing-middle-gray;
		position: absolute;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}
.orders {
	position: relative;
	height: rem-calc(50);
	width: rem-calc(50);
	background: url("/images/orders.png");
	background-size: 80%;
	background-position: top center;
	background-repeat: no-repeat;
	&:after {
		content: "ORDERS";
		font-size: rem-calc(5);
		color: $landing-middle-gray;
		position: absolute;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}