<div class="row">
	<div class="small-12 columns text-center">
		<h2>There was a slight problem...</h2>
		<h3><%= error_message %></h3>
		<%= link_to "OK", "#", class: "landing-button", id: "close-error-button" %>
	</div><!--/.small-12-->
</div><!--/.row-->