<div class='row'>
  <div class='small-12 columns'>
    <h3>Thank you for confirming your email address:<br> <strong><%= email %></strong></h3>
    <h3>Please sign in to continue.</h3>
  </div><!--/.small-12-->
</div><!--/.row-->