<div class='row'>
  <div class='small-12 columns text-center'>
    <h3><strong>Sorry!<br>Email Confirmation Failed</strong></h3>
    <h3>That user does not exist or the link has expired</h3>
  </div><!--/.small-12-->
</div><!--/.row-->