<%= render layout: "shared/modal", locals: { size: "large" } do  %>
<div class="row">
  <div class="small-12 text-center">
    <div class="new-user-modal">
      <h1>Welcome Back!</h1>
      <div class="row">
        <div class="small-10 small-centered columns">
	        <br>
		    <h3>Thank you for confirming your email address:<br> <strong><%= email %></strong></h3>
		    <br>
		    <h3>Please sign in to continue.</h3>
        </div><!--/.small-12-->
      </div><!--/.row-->
    </div><!--/.new-user-subscription -->
  </div><!--/.medium-6-->
</div><!--/.row-->
<% end %>

