<div class='row'>
  <div class='small-12 columns'>
    <h3><strong>We need to confirm your email address before we can sign you in.</strong></h3>
    <h3>We've sent you an email at<br>
    <strong><%= email %></strong></h3>
    <h3>Please check your email and follow the instructions to activate your account.</h3>
  </div><!--/.small-12-->
</div><!--/.row-->