<div class="ps-panel noborder">
	<div class="row">
		<div class="small-12 columns">
			<h2>Setup a new account for<br><strong><%= @email %></strong></h2>
			<% if flash[:notice] %>
				<div class="errornotice error-on" %>">
					<%= flash[:notice] ? flash[:notice].html_safe : "&nbsp;".html_safe %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<br>

<div class="ps-panel">

<h2>TBD</h2>

</div>