<div class="row">
	<div class="medium-12 columns">
		<h1>Company Contacts</h1>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		<div id="contacts_list">
			<%= render partial: "/contacts/contacts_list", locals: {b_or_d: @distributor} %>
			<br>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h1>Users</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="contacts_list">
			<%= render partial: "/users/user_list", locals: {b_or_d: @distributor} %>
			<br>
		</div>
	</div>
</div>