<div class="row">
	<div class="medium-10 medium-centered columns">
		<h2>Thanks for registering with Landing International</h2>
		<p>This is your profile page. Complete your profile soon! </p>
		Or go ahead and browse the great brands on Landing International, Though you won't be able to blah blah blah...
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->