<br>
<a class="anchor" id="a-sales"></a>
<%= form_for @distributor, url: distributor_url, remote: true do |f| %>
	<%= hidden_field_tag "redirect_anchor", "a-sales" %>
	<div class="row">
		<div class="medium-12 columns">
			<%= render partial: "shared/numeric_field", locals: {f: f, field: :outside_sales_size, fieldlabel: 'Outside Sales Force Size' } %>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<%= render partial: "shared/numeric_field", locals: {f: f, field: :inside_sales_size, fieldlabel: 'Inside Sales Force Size' } %>	
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			
			<%#= f.submit 'Update Sales/Education Capabilities', class: "landing-button right" %>
		</div>
	</div>
<% end %>