<div class="row">
	<div class="medium-12 columns">
		<h1>Global Good<br><small>How we help people and planet.</small></h1>
	</div>
</div>
<% tid = SecureRandom.uuid %>
<%= render partial: "shared/tags/tags_list", locals: {
	list: @tags,
	tid: tid
} %>
<br>
<%= render partial: "shared/tags/tags_input", locals: {
	type: 'd',
	tid: tid
} %>