<%= form_tag view_inventory_table_url, remote: true do %>
<%= select_tag(:product_id, options_from_collection_for_select(@brand.products.sort_by{ |product| product.item_id }, :id, :name_with_id), include_blank: 'Select a product', class: 'auto-form') %>
<% end %>

<div id="inventory-table-view">
<%#= render partial: "/inventory_adjustments/inventory_table", locals: { product: product } %>
</div>