<li>
	
		<div class="outer">
			<%= link_to preview_brand_url(brand), remote: true do %>
			<% if photo_url = get_brand_photo_url(brand) %>
			<div class="inner" style="background-image: url(<%= photo_url %>) ">
			<% else %>
			<div class="inner">
			<% end %>
			</div>
			<% end %>
		</div>
		<div class="name">
			<%= link_to preview_brand_url(brand), remote: true do %>
			<%= brand.company_name %>
			<% end %>
		</div>
	
</li>