<li>
	<%= link_to preview_brand_url(brand), remote: true do %>
		<div class="outer">
			<% if photo = get_brand_photo(brand) %>
			<div class="inner" style="background-image: url(<%= photo.photo.url(:small)%>) ">
			<% else %>
			<div class="inner">
			<% end %>
			</div>
		</div>
		<div class="name">
			<%= brand.company_name %>
		</div>
	<% end %>
</li>