<% @article.brands.each do |b| %>
	<p><%= b.company_name %>
		<%#= link_to 'delete', admin_delete_user_path(user), :method => 'delete', data: { :confirm => 'Are you sure you want to delete this user?'}, class: "itemformlink"  %>
	 <%= link_to 'delete', delete_article_featured_brand_path(@article, b), method: 'delete', remote: true %></p>
<% end %>