<%= link_to "#" do %>
	<article class="preview_standard">
		<div class="row">
			<div class="medium-8 columns">
				<div class="row">
					<div class="medium-6 columns text-left medium-text-right">
						<%= image_tag 'v2/PurImage.png' %>
					</div><!--/.medium-12-->
					<div class="medium-6 columns">
						<div class="row">
							<div class="small-12 columns text-left medium-text-right">
								<h1>PUR Cosmetics</h1>
								<h2>REPORT / ANALYSIS on BRANDS</h2>
								<p>12.03.15 by Sarah Chung // With the tagline, “The Complexion Authority,” Pur Cosmetics manufactures a line of for mineral-based makeup and skincare products designing at improving the complexion.</p>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-->
				</div><!--/.row-->
			</div><!--/.medium-8-->
			<div class="medium-4 columns">
				<div class="show-for-small-only"><br></div>
				<h3>FEATURING</h3>
				<ul class="featuringlist">
					<li>4-IN-1 PRESSED MINERAL MAKEUP</li>
					<li>CC CREAM BROAD SPECTRUM SPF 40</li>
					<li>CORRECTING PRIMER</li>
				</ul>
			</div><!--/.medium-12-->
		</div><!--/.row-->
	</article>
<% end %>	