<%= render partial: 'shared/v2/header/main' %>
<%#= render partial: 'shared/v2/header/sub_beauty' %>

<div class="row">
	<div class="medium-11 medium-centered columns">
		<%= render "full_article" %>
	</div><!--/.medium-11 medium-centered-->
</div><!--/.row-->

<%= render partial: 'shared/v2/footer/main' %>