					<% if match.stage == "order" %>

						<div class="conversation-help">
							<h4><strong>Tips for Completing Orders</strong></h4>
							<p> 
								[Helpful text here]
							</p>
						</div>

					<% else %>

						<div class="conversation-help">
							<h4><strong>Completing Orders</strong></h4>
							<p> 
								This is where you can complete orders...
							</p>
						</div>					

					<% end %>