					<% if match.stage == "prepare" %>


						<div class="conversation-help">
							<h4><strong>Tips for Preparing for Export</strong></h4>
							<p> 
								[Helpful text here]
							</p>
						</div>					


						<% if match && !match.messages.blank? && match.stage == "prepare"  %>
						<div class="conversation-action" id="contact-one">
							<%= link_to 'Would you like to...', match_stage_url(:stage => 'terms', :mid => match.id  ), class: "button", remote: true %>
						</div>
						<% end %>

					<% elsif match.stage == "terms" || match.stage == "order" %>
						<div class="conversation-help">
							<h4><strong>Archived Conversation</strong></h4>
							<p> 
								This is your archived PREPARE conversation.
							</p>
						</div>
					
					<% else %>

						<div class="conversation-help">
							<h4><strong>Preparing for Export</strong></h4>
							<p> 
								This is where you will prepare products...
							</p>
						</div>					

					<% end %>