						<div class="conversation-help">
							<h4><strong>Tips for Preparing for Export</strong></h4>
							<p> 
								[Helpful text here]
							</p>
						</div>

						<% if match && !match.messages.blank? && match.stage == "prepare"  %>
						<div class="conversation-action" id="contact-one">
							<%= link_to 'Would you like to...', match_stage_url(:stage => 'terms', :mid => match.id  ), class: "button", remote: true %>
						</div>
						<% end %>