<% if match = get_match(profile) %>
<div class="conversation-action-tile active">
	<h4><strong>PREVIEW TERM SHEET</strong></h4>
	<p>Preview the current terms between you and <%= profile.company_name %></p>
	<a id="view-termsheet" class="button tiny alert expand" data-ajaxurl="<%= view_contract_url(match) %>">PREVIEW TERM SHEET</a>
</div>
<% end %>