<div id="v2footer">
	<div class="row">
		<div class="small-11 small-centered columns">
			<hr>
				<div id="inner">
				<div class="row">
					<div class="medium-6 columns">
						<ul>
							<li>About Us</li>
							<li>Terms &amp; conditions</li>
							<li>Privacy policy</li>
							<li>Cookie information</li>
							<li>Cookie consent</li>
							<li>Contact us</li>
						</ul>
					</div><!--/.medium-6-->
					<div class="medium-6 medium-text-right columns">
						<div class="row">
							<div class="small-12 columns">
								<div class="row">
									<div class="small-12 columns">
										<%= image_tag 'v2/social_google.svg' %>
										<%= image_tag 'v2/social_facebook.svg' %>
										<%= image_tag 'v2/social_linkedin.svg' %>
										<%= image_tag 'v2/social_twitter.svg' %>
										<%= image_tag 'v2/social_instagram.svg' %>
									</div><!--/.small-12-->
								</div><!--/.row-->
							</div><!--/.small-12-->
						</div><!--/.row-->
						<div class="row">
							<div class="small-12 columns">
								<span id="copyright">&copy; 2016 Landing International </span>
							</div><!--/.small-12-->
						</div><!--/.row-->
					</div><!--/.medium-6-medium-text-right -->
				</div><!--/.row-->
				</div><!--/#inner-->
			<hr>
		</div><!--/.small-11-small-centered -->
	</div><!--/.row-->
</div><!--/.footer-->

