<div class="row">
	<div class="small-1 columns">
		<%= image_tag b_or_d.logo.url(:medium)%>
	</div>
	<div class="small-11 columns">
		<% if b_or_d.class.to_s == "Distributor" %>
			<%= link_to "#{b_or_d.company_name.blank? ? '(no name)' : b_or_d.company_name}", admin_distributor_view_url(b_or_d) %>
		<% elsif b_or_d.class.to_s == "Brand" %> 
			<%= link_to "#{b_or_d.company_name.blank? ? '(no name)' : b_or_d.company_name}", admin_brand_view_url(b_or_d) %>
		<% end %>
	</div><!--/.small-12-->
</div><!--/.row-->
