<div class="row">
	<div class="small-12 columns text-center">
		<h2>Are you sure you want to DELETE this order?</h2>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns text-center">
		<%= link_to "Yes", admin_order_destroy_url(@order,1), class: "landing-button alert", remote: true %>
		<%= link_to "No", admin_order_view_url(@order), class: "landing-button secondary", id: "submit-close" %>
	</div><!--/.small-12-->
</div><!--/.row-->