<table class="sortable" id="order-index" style="table-layout: fixed;">
	<thead>
		<tr>
			<th>Buyer</th>
			<th>Brand</th>
			<th>Retailer PO#</th>
			<th>Landing Order ID</th>
			<th>Order Date</th>
			<th>Ship Date</th>
			<th>Cancel Date</th>
			<th>Order Amount</th>
			<th>Additional Charges</th>
			<th>Status</th>
		</tr>
	</thead>
	<%= render partial: "orders_table_data", locals: { orders: @orders } %>
</table>