<%= render layout: "index_layout" do %>

		<% if !@brands.empty? %>
			<% if @query %>
				<span style="font-weight: 200;">You searched for: <strong><%=@query%></strong></span>
			<% end %>
			<%= paginate @brands %><br>
			<table class="sortable" id="order-index" style="table-layout: fixed;">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Subscriber Account Number</th>
						<th>Primary Username</th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'b_or_d', collection: @brands, as: :b_or_d %>
				</tbody>
			</table>
		<% else %>
			<hr>
			<h3><em>No Brands</em></h3>
		<% end %>

<% end %>