<%= render layout: "index_layout" do %>

		<% if !@retailers.empty? %>
			<%= paginate @retailers %><br>
			<table class="sortable" id="order-index" style="table-layout: fixed;">
				<thead>
					<tr>
						<th>Retailer</th>
						<th>Primary Username</th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'b_or_d', collection: @retailers, as: :b_or_d %>
				</tbody>
			</table>
		<% else %>
			<hr>
			<h3><em>No Retailers</em></h3>
		<% end %>

<% end %>
