<%= render layout: "index_layout" do %>

		<% if !@retailers.empty? %>
			<%= paginate @retailers %><br>
			<%= render partial: 'b_or_d', collection: @retailers, as: :b_or_d, spacer_template: "shared/indexspacer"  %>
		<% else %>
			<hr>
			<h3><em>No Retailers</em></h3>
		<% end %>

<% end %>
