<div class="row">
	<div class="medium-10 medium-centered columns">
		<%= flash[:newuser_modal] ? flash[:newuser_modal].html_safe : "&nbsp;".html_safe %>
		<hr style="border-top: 1px solid #B3B3B3;">
		<h3>Contact us for assistance any time at <a mailto="info@landingintl.com" style="font-weight: 500;">info@landingintl.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->