<% profile = user.distributor || user.brand || user.retailer %>
<div class="row">
	<div class="small-8 columns">
		<div class="row">
			<% unless user.administrator %>
			<div class="small-2 columns">
				<%= image_tag profile.logo.url(:medium)%>
			</div><!--/.small-1-->
			<% end %>
			<div class="small-10 columns">
				<%= link_to user.email, edit_user_url(user) %>

				<% unless user.administrator %>
				<h3>for <strong><%= profile.company_name %></strong> <small>[<%= user.type?.upcase %>]</small></h3>
				<% end %>
			</div><!--/.small-11-->

		</div><!--/.row-->
		



	</div>

	<div class="small-4 columns">
		&nbsp;
	</div>

</div>