<%= render partial: 'shared/v2/header/main' %>

<div class="front-top-panel">
	<div class="row">
		<div class="medium-11 medium-centered columns">
			<div id="new-user-intro">
				<div class="row">
					<div class="medium-6 columns">
						<h1>Hello, Distributors!</h1>
						<h2>Discover new beauty brands from across the world. <strong>Join our online marketplace!</strong></h2>
						<h3>Contact us for assistance any time at <a mailto="info@landingintl.com" style="color:black;">info@landingintl.com</a></h3>
					</div><!--/.medium-8-->
					<div class="medium-6 columns">
						<div class="ldpanel" id="sign-up">
							<h2>Join Us</h2>
							<div class="row">
								<div class="medium-12 columns text-right">
									<div id="user-form"><%= render partial: "new_distributor_form" %></div>
								</div>
							</div>
						</div>
					</div><!--/.medium-6-->
				</div><!--/.row-->
			</div><!--/ .new-user-intro -->
		</div><!--/.medium-10-->
	</div><!--/.row-->
</div><!--/.front-top-panel-->



<%= render partial: 'shared/v2/footer/main' %>