<div class="row marketplace-header">
	<div class="small-8 columns">
		<%#= image_tag "logo_header_marketplace.svg" %>
		<div class="subhead">MARKETPLACE / <%= section.upcase.html_safe %></div>
	</div>
</div>
