<div class="row">
	<div class="medium-10 medium-centered columns">
		<h2>Thank you for joining the Landing Marketplace!</h2>
		<h3>You can now view full brand profiles and order products directly from brands. Browse potential partners by going to the <%= link_to  brands_url do %>beauty section.<% end %></h3>
		<h3>Please remember to complete your retailer profile so your potential brand partners can learn about you and be better matched to your brand assortment and customer base.</h3>
		<h3>Contact us for assistance any time at <a mailto="info@landingintl.com">info@landingintl.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->