<div class="row">
	<div class="small-12 columns">
		<h1>Ordering &amp; Payments</h1>
		<h3>Verified Company Email <small>(for automated system emails - e.g. ordering, messaging)</small></h3>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		[registration for for Armor goes here]
	</div><!--/.small-12-->
</div><!--/.row-->