<br>
<a class="anchor" id="a-social-tags"></a>
<% tid = SecureRandom.uuid %>
<%= render partial: "shared/tags/tags_list", locals: {
	list: @tags,
	tid: tid
} %>
<br>
<%= render partial: "shared/tags/tags_input", locals: {
	type: 'r',
	tid: tid
} %>