<%= render partial: 'shared/v2/header/main' %>

<% if @current_user %>
	<%= render partial: "/shared/profile/retailer_full_profile", locals: {profile: @profile} %>
<% else %>
	<br><br>
	<div class="row">
		<div class="small-12 columns">
			<br>
		</div><!--/.small-12-->
		<div class="medium-10 columns medium-centered">
			<div id="restricted-view-container">
			<%= render "shared/profile/restricted_view" %>
			</div>
		</div>
		<div class="small-12 columns">
			<br><br><br>
		</div><!--/.small-12-->
	</div>
<% end %>


<%= render partial: 'shared/v2/footer/main' %>