<div id="dashboard-marketplace-header">
	<%= image_tag "logo_header_marketplace.svg" %>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="panel">
			<h2>About Your Marketplace Dashboard</h2>
			<p> Welcome to Landing International! This is your marketplace dashboard, where you will be able to view all you activity on Landing International, including Ordering and Messaging.
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<%= render "orders" %>