<div class="row">
	<div class="medium-10 medium-centered columns">
		<%= flash[:success] ? flash[:success].html_safe : "&nbsp;".html_safe %>
		<h3>Contact us for assistance any time at <a mailto="info@landingintl.com">info@landingintl.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->