<h2 class="text-center">Complete your Profile to Reach More Brands</h2>
<ul class="onboard-flow-header" data-steps="4">
	<li class="active"><span><%= image_tag "/images/create_profile.png" %></span></li>
	<li><span><%= image_tag "/images/enable_payment.png" %><br>(BASIC)</span></li>
	<li><span><%= image_tag "/images/introduce_yourself.png" %><br>(INTERMEDIATE)</span></li>
	<li><span><%= image_tag "/images/tell_us_more.png" %><br>(ADVANCED)</span></li>
</ul>