<div class="row">
	<div class="small-12 columns">
		<div class="panel" id="dashboard-order-section">
		<h2>Your Orders</h2>

		<%# unless @current_user.type? == "brand" %>
		<h3>Current Open Orders</h3>
		<% if @current_orders.present?  %>
				<% @current_orders.each do |order| %>
					<%= render partial: "order_item", locals: { order: order } %>
 				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>
		<%# end %>

		<h3>Submitted Orders</h3>
		<% if @submitted_orders.present?  %>
				<% @submitted_orders.each do |order| %>
					<%= render partial: "order_item", locals: { order: order } %>
 				<% end %>
		<% else %>
		<div class="row">
			<div class="small-12 columns">
				<div class="panel dashboard-order-tile">
					<h3>(No Orders)</h3>
				</div>
			</div>
		</div>
		<% end %>

		</div>
	</div><!--/.small-12-->
</div><!--/.row-->