<div class="row">
	<div class="small-12 columns">
		<h3 style="color: #EA84C7;">To Do</h3>
		<div id="dashboard-alerts">
			<div id="onboard">
				<% if @current_user.brand %>
					<%= render partial: "onboard_brand" %>
				<% else %>
					<%= render partial: "onboard_buyer" %>
				<% end %>
			</div>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->