
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>

<% end %>
<br>
<div class="row">
	<div class="small-11 small-centered columns">
		
		<% if @current_user %>

			<div class="row">
				<div class="small-12 columns">
					<%= render "marketplace_v2" %>
				</div><!--/.small-12-->
			</div><!--/.row-->

		<% else %>
			<%= render "restricted_view" %>
		<% end %>


	</div><!--/.small-11 small-centered-->
</div><!--/.row-->

<br>
<br>	

