<div class="panel" data-equalizer-watch>
<h2><strong style="color: #5f5f5f;"><%= collitem.name.empty? ? "( No Name )" : collitem.name  %></strong>
		<% unless collitem.website.blank? %>
			<%= link_to "//#{clean_url(collitem.website)}", target: "blank" do %>
				<i class="fi-link"></i>
			<% end %>
		<% end %>
</h2>
<div class="row">
	<div class="medium-12 columns">
		<h4>
			<%#= !collitem.country.blank? ? "<strong>#{collitem.country}</strong>".html_safe : "" %>
			<%= collitem.date ? "<br>#{collitem.date.strftime('%b %Y')}".html_safe : ""  %>
			<%= !collitem.years_participated.blank? ? "<br>Participant for #{collitem.years_participated} years".html_safe : "" %>
		</h4>
	</div>
</div>
</div>
