<div class="row">
	<div class="small-12 columns">
		<h2>
			<strong style="color: #5f5f5f;"><%= collitem.name.empty? ? "( No Name )" : collitem.name  %></strong>
			<small>
			<%= get_tradeshow_display_info(collitem).join(' / ').html_safe %>
			</small>
		</h2>
	</div><!--/.small-12-->
</div>