
			<div id="profile-nav">
			<div class="row">
				<div class="medium-6 columns medium-text-left small-text-center" id="header">
					<h1><%= profile.company_name %></h1>
				</div><!--/.medium-6-->
				<div class="medium-6 columns medium-text-right small-text-center" id="contact">
					<h3>Have questions? <%= link_to "Contact #{profile.company_name}", new_simple_message_url(profile), remote:true %></h3>
				</div><!--/.medium-6-->
			</div><!--/.row-->
			<div class="row">
				<div class="small-12 columns text-left" id="nav">
					<span id="view-orders-buttons"><%= render partial: "shared/profile/components/view_orders_buttons", locals: {profile: profile, section: section} %></span>
				</div><!--/.small-12-->
			</div><!--/.row-->
		</div><!--/.profile-nav-->
	
