<div id="profile-nav">
	<div id="top">
		<div class="row">		
				<div class="medium-6 columns medium-text-left small-text-center" id="header">
					<h1><%= profile.company_name %></h1>
				</div><!--/.medium-6-->
				<div class="medium-6 columns medium-text-right small-text-center" id="contact">
					
				</div><!--/.medium-6-->			
		</div><!--/.row-->
	</div><!--/.top-->

	<div id="bottom">
		<div class="row">
			<div class="small-12 columns text-left" id="nav">
				<span id="view-orders-buttons"><%= render partial: "shared/profile/components/view_orders_buttons", locals: {profile: profile, section: section} %></span>
			</div><!--/.small-12-->
		</div><!--/.row-->
	</div><!--/.bottom-->
</div><!--/.profile-nav-->