<ul class="tablist">
	<li class="active"><%= link_to "#{profile.class.to_s.upcase} PROFILE", eval("view_#{profile.class.to_s.downcase}_url(profile)") %></li>
	<% if order = active_order(profile) %>
	<li><%= link_to "ORDERS", order_url(active_order(profile)) %></li>
	<% end %>
</ul>