<ul class="tablist">
	<li>
		<%= link_to eval("view_#{profile.class.to_s.downcase}_url(profile)") do %>
		<div class="profile"></div>
		<% end %>
	</li>
	<li>
		<%= link_to orders_url(company_id: profile) do %>
			<div class="orders"></div>
		<% end %>
	</li>
	<% if order = open_order(profile) %>
	<li>
		<%= link_to order_url(order) do %>
			<div class="shopping-cart"><div class="count"><%= order.order_items.count %></div></div>
		<% end %>
	</li>
	<% end %>
</ul>