<% if @order.status == "delivered" %>
	<div class="row">
		<div class="small-12 columns text-center">
			<h3>You have set this order to <strong><%= @order.brand.company_name %></strong> as DELIVERED</h3>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns text-center">
			<%= link_to "OK", order_url(@order), class: "landing-button", id: "submit-close" %>
		</div><!--/.small-12-->
	</div><!--/.row-->
<% else %>
	<div class="row">
		<div class="small-12 columns text-center">
			<h2>Has this order been successfully RECEIVED?</h2>
		</div><!--/.small-12-->
	</div><!--/.row-->
	<div class="row">
		<div class="small-12 columns text-center">
			<%= link_to "Yes", armor_disabled_received_order_url(@order,1), class: "landing-button", remote: true %>
			<%= link_to "Not Yet", order_url(@order), class: "landing-button secondary", id: "submit-close" %>
		</div><!--/.small-12-->
	</div><!--/.row-->
<% end %>