<%= render "shared/orders/show" %>
<br>
<% if @order.status == "pending" %>
<div class="row">
	<div class="small-12 columns text-center">
		<%= link_to "OK", "#", class: "landing-button secondary", id: "continue-ordering" %>
	</div><!--/.small-12-->
</div><!--/.row-->
<% else %>
<div class="row">
	<div class="small-12 columns text-center">
		<%= link_to "Finalize Order", finalize_order_url(@order,0), class: "landing-button", remote: true %>
		<%= link_to "Continue Ordering", "#", class: "landing-button secondary", id: "continue-ordering" %>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>