<% unless @order.status == "submitted" %>
// close any open order-items
$('#order').fadeOut();
$('.overlay').fadeOut();
<% end %>

<% if @order.status == "submitted" %>
	<% if URI(request.referer).path.match(/orders/) %>
		$('#order-item-data').html("<div class='text-center'><h2>Loading...<br>Please wait...</h2></div>");
		window.location.replace("<%= order_url(@order) %>");
	<% else %>
		$('#view-orders-buttons').html("<%= j (render partial: 'shared/profile/components/view_orders_buttons', locals: {profile: @order.brand}) %>");
		$('#profile-status').html("<%= j (render partial: 'shared/profile/components/profile_status', locals: {order: @order}) %>");
		$('.order-sku-button').fadeOut();
	<% end %>
<% end %>

<% unless @order.status == "submitted" && URI(request.referer).path.match(/orders/) %>
$('#order-item-data').html("<%= j (render partial: 'submit_order') %>");
$('.overlay#order-item-overlay').fadeIn();
$('#order-item').fadeIn();
<% end %>

setModalActions();