<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<div class="pages-wrapper">

<div class="row">
	<div class="medium-10 medium-centered columns">
		<h1><strong>About Us</strong></h1>
		<p>Landing International is an online marketplace connecting global brands and retailers. We work with over 60 brands and nearly 100 leading U.S. beauty retailers. We work with brands to set their U.S. market strategy and distribution and with retailers to curate products, develop marketing collaborations and sales training programs. </p>
		<br>
	</div><!--/.medium-10-->
</div><!--/.row-->
<div class="row">
	<div class="medium-10 medium-centered columns">
		<div id="about-us-tabs">
			<span class="selected" id="team">The Team</span>
			<span id="brand">Brand Partners</span>
			<span id="retail">Retail Partners</span>
			<span id="press">Press</span>
		</div>
	</div><!--/.medium-10-->
</div><!--/.row-->

<div class="row">
	<div class="medium-8 medium-centered columns" id="team">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>The Team</strong></h1>
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H5.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Sarah Chung - Chief Executive Officer</h1>
				<p>Sarah is an international business development specialist helping consumer brands succeed in new markets since 2001.  She was formerly CEO of Periscope Solutions, a market research agency with clients including AmorePacific, Johnson & Johnson, GoSMILE and Vitamin Water. Sarah has been featured in The Wall Street Journal, Bloomberg, Allure, Los Angeles Times, Women’s Wear Daily, Hollywood Reporter, Australian Financial Review among others. She was named Outstanding Entrepreneur by the Asian American Entrepreneurs Network.  She graduated from Boston University. </p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H8.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Roberto Achacoso - Chief Product Officer</h1>
				<p>Roberto oversees the Landing platform and tech-related functions. Roberto is a software and design professional with working experience in the U.S., Australia, New Zealand, Korea and Singapore. Roberto holds a BA from the University of Chicago and a Masters in Industrial Design from Pratt Institute.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H6.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Annie Moberg – Director of Agency</h1>
				<p>Annie oversees all agency projects as well as consumer and retail marketing on behalf of our brand clients. She is a beauty brand expert working with brands like Smashbox Cosmetics, Dermalogica, Koh Gen Do, Josie Maran Cosmetics, Tata Harper Skincare, and One Love Organics. She is a graduate of University of Southern California. </p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H11.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Tiffany Lee – Creative Director</h1>
				<p>Tiffany oversees social media and video content creation for our brand partners.  She is a celebrity hairstylist, makeup artist and skincare educator. She has worked on countless print, film, TV, commercial projects including Garnier Fructis, Olaplex, Beautylish, Colourpop. She is also the face of 100 Years of Beauty – Korea, which has over 18 million views on YouTube.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">

			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Chloe Joung – Client Manager</h1>
				<p>Chloe is our team manager in Korea working closely with all our brand partners. Chloe Joung has expertise in Korea – U.S. cross border brand initiatives. She has worked with 50+ Korean cosmetic brands and helping them to launch successfully in the US market. She graduated from Gyeongin National University Of Education.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">

			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Sangeun Cha – Assistant Client Manager</h1>
				<p>Based in our Seoul office, Sangeun supports our Korean brand partners. She worked as a Sales & Marketing Specialist at KOTRA in Dubai for four years. Previous to that she interned at Henkel Korea, Nexfair and Quilts etc. She is a graduate of Inha University.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H9.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Belinda Uy – Operations/Finance Manager</h1>
				<p>As Operations Manager, Belinda oversees all aspects of order fulfillment, inventory management, invoicing, and retailer compliance. She has 6+ years of operations and retail experience at Bloomingdale’s, Nordstrom, and Target. Belinda is a native of Long Beach, CA and graduated from the University of California, Irvine.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Kate Chung – Accountant</h1>
				<p>Kate is an experienced CPA with background in public accounting and start-up consulting. She handles all matters related to corporate finance, tax, and payroll. Most recently, she has been working at a legal advocacy non-profit in LA. She is a graduate of University of California, Los Angeles.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H10.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Vichida Vonvanij – Marketing Associate</h1>
				<p>Vichida supports marketing initiatives, monthly buyer box and assists with retail partner requests. With strong passion for the beauty industry, Vichida is active on YouTube and Instagram. She recently graduated as an Entrepreneurship major from Loyola Marymount University and completed beauty-related internship programs both in Los Angeles and Bangkok, Thailand.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
		<div class="row bio">
			<div class="medium-4 columns">
				<div class="headshots" style="background-image: url(https://s3.amazonaws.com/landingintl-us/team/H7.jpg)"></div>
			</div><!--/.medium-3-->
			<div class="medium-8 columns">
				<h1>Gavin Husni – Finance Associate</h1>
				<p>Gavin supports accounts receivables & payables, reporting, and other finance-related issues. He is a recent graduate of Loyola Marymount University with a B.B.A. in Finance. Gavin had completed successful finance internships at Ernst & Young and several other companies.</p>
			</div><!--/.medium-9-->
		</div><!--/.row-->
	</div><!--/.medium-10-->
</div><!--/.row-->
<div class="row">
	<div class="medium-10 medium-centered columns" id="brand">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>Brand Partners</strong></h1>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/acwell.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/assoter.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/brownlab.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/brtc.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/chicaychico.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/cle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/cnf.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/cosrx.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/desserttable.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/essenherb.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/giverny.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/imfrom.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/keepcool.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/dearklairs.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/letmeskin.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/mdoc.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/minamproject.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/nuca.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/pureheals.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/skinandlab.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/skineditor.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/skinrxlab.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/superface.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/thankyoufarmer.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/touchinsol.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/unpacosmetics.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/vprove.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/wishformula.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/withmy.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/yurica.png)"></div></div></li>
			</ul>
	</div><!--/.medium-10-->
</div><!--/.row-->


<div class="row">
	<div class="medium-10 medium-centered columns" id="retail">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>Retail Partners</strong></h1>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/ulta.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/antrhopologie.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/urbanoutfitters.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/lordandtaylor.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/forever21.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/rickys.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/bloomingdales.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/neimanmarcus.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/hsn.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/beautycollection.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/goop.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/gap.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/belk.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/walgreens.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/target.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/freepeople.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/oldnavy.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/nordstrom.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/revolve.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/cultbeauty.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/spacenk.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/cobigelow.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/peninsulabeauty.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/silvermirror.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/parkmgm.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/larchmontbeauty.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/planetbeauty.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/dermstore.png)"></div></div></li>
			</ul>
	</div><!--/.medium-10-->
</div><!--/.row-->


<div class="row">
	<div class="medium-10 medium-centered columns" id="press">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>Press</strong></h1>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/cosmopolitan.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/allure.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/instyle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/harpersbazaar.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/marieclaire.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/teenvogue.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/realsimple.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/people.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/shape.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/usweekly.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/popsugar.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/refinery29.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/wwd.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/modernluxury.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/forbes.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/newyorkmagazine.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/byrdie.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/pittsburghpostgazette.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/bloomberg.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/bustle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/yahoolifestyle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/huffingtonpost.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/bravo.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/latimes.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/rachaelray.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/redbook.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/womenshealth.png)"></div></div></li>
			</ul>
	</div><!--/.medium-10-->
</div><!--/.row-->

</div><!--/.pages-wrapper-->
<%= render partial: 'shared/v2/footer/main' %>