<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<div class="pages-wrapper">

<div class="row">
	<div class="medium-10 medium-centered columns">
		<h1><strong>About Us</strong></h1>
		<p>We are on a mission to make going global easy. Whether you are a brand owner or international distributor, we want to help you grow your business with best-in-class partners. We’ve curated the coolest new brands in the fastest-growing consumer categories and selected qualified distributors in the leading international markets for those products to join our Marketplace. Our Insights reports are designed to educate brand owners on new markets. Our Agency provides account executives for all of your international business needs. The team is based in Los Angeles, CA and our researchers are based in China, Brazil, India, Korea, Russia and United Kingdom</p>
		<br>
	</div><!--/.medium-10-->
</div><!--/.row-->
<div class="row">
	<div class="medium-10 medium-centered columns">
		<div id="about-us-tabs">
			<span class="selected" id="team">The Team</span>
			<span id="brand">Brand Partners</span>
			<span id="retail">Retail Partners</span>
			<span id="press">Press</span>
		</div>
	</div><!--/.medium-10-->
</div><!--/.row-->

<div class="row">
	<div class="medium-10 medium-centered columns" id="team">
	<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>The Team</strong></h1>
	<h1>Sarah Chung - CEO</h1>
	<p>An international business development expert, Sarah has advised a wide range of consumer brands in beauty, fashion and baby/kids to launch their products to new markets. Sarah has been quoted as an expert in international business and consumer brands in leading publications such as The Wall Street Journal, Women's Wear Daily, The Rose Sheet, Luxury Marketing, Australian Financial Review and GCI Magazine. Previously, Sarah was CEO of Periscope Solutions, a new venture consultancy. In that capacity, Sarah worked with over a hundred new business ventures in the greater New York City area, which have successful raised millions in individual and institutional financing. Her expertise has also been sought by brands (Johnson & Johnson, GoSMILE, Vitamin Water, AmorePacific), marketing agencies (Noise Marketing, DIGO, Maloney & Fox) and investors (Carlyle Group, North Castle Partners, Rosewood Capital, VMG Partners).</p>
	</div><!--/.medium-10-->
</div><!--/.row-->
<div class="row">
	<div class="medium-10 medium-centered columns" id="brand">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>Brand Partners</strong></h1>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/acwell.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/assoter.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/brownlab.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/brtc.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/chicaychico.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/cle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/cnf.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/cosrx.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/desserttable.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/essenherb.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/giverny.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/imfrom.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/keepcool.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/dearklairs.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/letmeskin.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/mdoc.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/minamproject.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/nuca.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/pureheals.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/skinandlab.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/skineditor.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/skinrxlab.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/superface.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/thankyoufarmer.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/touchinsol.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/unpacosmetics.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/vprove.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/wishformula.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/withmy.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/brand/yurica.png)"></div></div></li>
			</ul>
	</div><!--/.medium-10-->
</div><!--/.row-->


<div class="row">
	<div class="medium-10 medium-centered columns" id="retail">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>Retail Partners</strong></h1>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/ulta.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/antrhopologie.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/urbanoutfitters.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/lordandtaylor.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/forever21.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/rickys.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/bloomingdales.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/neimanmarcus.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/hsn.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/beautycollection.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/goop.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/gap.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/belk.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/walgreens.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/target.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/freepeople.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/oldnavy.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/nordstrom.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/revolve.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/cultbeauty.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/spacenk.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/cobigelow.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/peninsulabeauty.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/silvermirror.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/retail/parkmgm.png)"></div></div></li>
			</ul>
	</div><!--/.medium-10-->
</div><!--/.row-->


<div class="row">
	<div class="medium-10 medium-centered columns" id="press">
		<h1 style="text-align: center;padding-top: 1em;padding-bottom: 1em;"><strong>Press</strong></h1>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/cosmopolitan.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/allure.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/instyle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/harpersbazaar.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/marieclaire.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/teenvogue.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/realsimple.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/people.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/shape.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/usweekly.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/popsugar.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/refinery29.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/wwd.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/modernluxury.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/forbes.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/newyorkmagazine.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/byrdie.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/pittsburghpostgazette.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/bloomberg.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/bustle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/yahoolifestyle.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/huffingtonpost.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/bravo.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/latimes.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/rachaelray.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/redbook.png)"></div></div></li>
				<li><div class="tiled-item"><div class="image-inner" style="background-image: url(https://s3.amazonaws.com/landingintl-us/general/press/womenshealth.png)"></div></div></li>
			</ul>
	</div><!--/.medium-10-->
</div><!--/.row-->

</div><!--/.pages-wrapper-->
<%= render partial: 'shared/v2/footer/main' %>