<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/sub_beauty' %>

<div class="row">
	<div class="medium-10 medium-centered columns">
		<div style="margin: 5em 0em;">
		<h1><strong>CONTACT US</strong></h1>
		<h2>Have questions or Need help? <br> We’d love to hear from you.</h2>
		<h2><a mailto="info@landingintl.com" style="color:black;"><strong>info@landingintl.com</strong></a></h2>
		</div>
	</div><!--/.small-12-->
</div><!--/.row-->

<%= render partial: 'shared/v2/footer/main' %>