<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<div class="pages-wrapper">
<div class="row">
	<div class="medium-10 medium-centered columns">
			
		<h1><strong>Contact Us</strong></h1>
		<h2>Have questions or need help? <br> We’d love to hear from you.</h2>
		<br>
		<h2><a mailto="info@landingintl.com" style="color:black;"><strong>info@landingintl.com</strong></a></h2>
		<br>
		<h4><strong>616 N. Croft Ave, Suite 3</strong></h4>
		<h4><strong>West Hollywood, CA 90048</strong></h4>
		<h4><strong>310-924-2696</strong></h4>

	</div><!--/.small-12-->
</div><!--/.row-->
</div><!--/.pages-wrapper-->
<%= render partial: 'shared/v2/footer/main' %>