<%= render partial: 'shared/v2/header/main' %>
<%= render partial: 'shared/v2/header/marketplace' %>
<div class="pages-wrapper">
<div class="row">
	<div class="medium-10 medium-centered columns">

<h1><strong>Terms &amp; Conditions</strong></h1>
 

<h2>TERMS OF USE</h2>

<p>Subject to these Terms of Use (this “Agreement”), Landing International LLC and/or its subsidiaries, as applicable, (collectively and individually, “we”, “our” or “us”) make available certain on-line information and services on various websites (“Our Service”) to registered and/or authorized users (“you” or “your”). Our Service presents information, data, content, news, reports, programs, video, audio and other materials and services, communications, transmissions and other items, tangible or intangible, which are referred to as “Material.” Your use of Our Service constitutes your acknowledgment of and assent to be bound by this Agreement.</p>

<p>Unless there is another written agreement between you and us that covers your use of part or all of Our Service, this is the entire agreement between you and us. If there is another written agreement between you and us that covers your use of part of Our Service, this Agreement covers all other use of Our Service by you. Whenever new products or services become available, your use of them will be under this Agreement unless we notify you otherwise or another written agreement covers your use of those new products or services.</p>

<p>In certain cases, additional “passthrough” terms and conditions may apply to the of use of third-party content, software or other services (collectively, “Third-Party Content”). Any such additional terms and conditions shall be delivered with applicable Third-Party Content. If upon reading such terms and conditions, you find you are ineligible or unable to comply with them through circumstances outside your control, then you are hereby required to contact Landing International within twenty-four (24) hours of purchase (in the case of Instant Online Delivery content) or receipt (in the case of other content) to explain your ineligibility. An appropriate solution will worked out at that time. If a call is not received in the allotted time, you are deemed to have approved and to be in compliance with the additional terms and conditions.</p>

<p>In addition, particular sites or features of Our Service may have different or additional terms (“Special Terms”), which will be disclosed to you when you access those sites or features. Such Special Terms are incorporated into this Agreement with respect to such sites or features. If there is a conflict between the terms of this Agreement and the Special Terms, the Special Terms will govern with respect to such sites or features.</p>

<p>We may change this Agreement at any time and you can read a current copy of this Agreement at any time by selecting the “Legal Notice” link on Our Service. If any change is not acceptable, you must discontinue your use immediately; using Our Service after the date that this Agreement changes means you accept the changes. No change to this Agreement that is not posted on the Service is valid unless it is in writing and signed by both you and us.</p>

<h2>Return Policy</h2>
<p>If products are damaged or defective, please contact us within 14 days regarding issues with your order. Replacement or credit policies vary by the brand.</p>

<h2>Permitted Use, Limitations on Use</h2>
<p>You may access and download the Material only as required to view the Material on your web browser for your individual use, keeping all copyright and other notices on the Material. You may print a single copy of Material for your use. You may not republish or distribute any Material or do anything else with the Material, which is not specifically permitted in this Agreement. You agree to comply with all notices and requirements accompanying Third-Party Content (see paragraph 3 under Terms of Use).</p>

<h2>Anti-hacking Provision</h2>
<p>You may not, nor may you allow others to, directly or indirectly: (a) attempt to or actually disrupt, impair or interfere with, alter or modify Our Service or any Material; or (b) collect or attempt to collect any information of others, including passwords, account or other information.</p>

<h2>No Advice</h2>
<p>The Material available on Our Service is for informational purposes only.</p>

<h2>Links to Third Party Sites</h2>
<p>Various links on Our Service will take you out of Our Service. These linked sites are not necessarily under our control. We are not responsible for the contents of any linked page or any other page not under our control. We provide these links only as a convenience; the inclusion of a link does not imply endorsement of that linked site.</p>

<h2>Limitation of Liability</h2>
<p>You are entirely liable for activities conducted by you or anyone else in connection with your browsing and use of Our Service. If you are dissatisfied with the Material or Our Service or with these Terms of Use, your sole and exclusive remedy is to stop using the Material and Our Service. We will not pay you any damages.</p>

<p>We do not warrant the accuracy, completeness, currentness or other characteristics of any Material available on or through Our Service. We will not be liable for any loss or injury resulting directly or indirectly from Our Service, whether or not caused in whole or in part by our negligence or by contingencies within or beyond our control. Neither we, nor suppliers of Third-Party Content, are responsible or liable, directly or indirectly, for any loss or damage caused by use of or reliance on or inability to use or access Our Service or the Material.</p>

<p>YOUR ACCESS TO AND USE OF OUR SERVICE ARE AT YOUR SOLE RISK. OUR SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE.” OUR SERVICE IS FOR YOUR PERSONAL USE ONLY AND WE MAKE NO REPRESENTATION OR WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. WE EXPRESSLY DISCLAIM ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE.</p>

<p>WE ARE NOT AND WILL NOT BE A PARTY TO ANY TRANSACTION BETWEEN YOU AND ANY THIRD PARTY, WHETHER OR NOT THAT THIRD PARTY’S WEBSITE IS LINKED FROM OUR SERVICE.</p>

<h2>Governing Law</h2>
<p>The laws of the State of California govern this Agreement and your use of Our Service. You agree to comply with all laws, regulations, obligations and restrictions, which apply to you. You agree that the courts located in California have exclusive jurisdiction for any claim, action or dispute under this Agreement. You also agree and expressly consent to the exercise of personal jurisdiction in the State of California. No failure or delay in enforcing any right shall be a waiver of that or any other right. If any term of this Agreement is held invalid, illegal or unenforceable, the remaining portions shall not be affected.
</p>
<h2>Copyright</h2>
<p>Unless specifically stated in conjunction with particular Material, all Material is copyrighted by us. You have no rights in or to the Material and you may not use any Material other than as permitted under this Agreement.
</p>
<h2>Trademark</h2>
<p>All trade names, trademarks, service marks and other product and service names and logos on Our Service or in the Material are the proprietary trademarks of their respective owners and are protected by applicable trademark and copyright laws.
</p>
	</div><!--/.small-12-->
</div><!--/.row-->
</div><!--/.pages-wrapper-->
<%= render partial: 'shared/v2/footer/main' %>