@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.dashboard-order-tile {
	border-radius: rem-calc(5);
}

#dashboard-order-section {
	background: $landing-light-gray;
}

.panel.shaded{
	background-color: $landing-cream;
}

#marketplace-dashboard {
	#top-info {
		font-size: rem-calc(20);
		@media #{$small-only} {
			font-size: rem-calc(20);
			line-height: rem-calc(20);
		}
		font-weight: 900;
		color: $landing-middle-gray;
//		text-align: justify;
		line-height: rem-calc(25);
		small {
			font-size: 80%;
		}
		margin-bottom: rem-calc(20);
		// width: 75%;
		// margin: auto;
	}
	h3{
		font-size: rem-calc(25);
		font-weight: 800;
		color: $landing-middle-gray;
		border-bottom: 2px solid $landing-middle-gray;
		border-top: 2px solid $landing-middle-gray;
	}
	#dashboard-alerts {
		margin-bottom: rem-calc(30);
		& > div {
			margin: rem-calc(30) 0;
		}
		h1 {
			color: $landing-darker-blue;
			font-weight: 900;
			font-size: rem-calc(30);
			line-height: rem-calc(30);
			@media #{$small-only} {
				font-size: rem-calc(20);
			}
		}
		h2 {
			@media #{$small-only} {
				font-size: rem-calc(20);
			}
		}
		#whats-next {
			#content {
				margin: rem-calc(20);
			}
		}
		#onboard {
			margin: rem-calc(20) 0;
			// border: 1px solid $landing-middle-gray;
			// background-color: $landing-light-gray;
			padding: rem-calc(10);
			// text-align: center;
			h2 {
				// font-family: serif;
				text-transform: uppercase;
				color: $landing-blue;
				font-weight: 900;
				margin-bottom: rem-calc(40);
			}
		}
		#adjustments {
			.inventory-request {
				position: relative;
				background-color: $landing-light-gray;
				border: 1px solid $landing-middle-gray;
				width: rem-calc(220);
				height: rem-calc(220);
				padding: rem-calc(10);
				margin: 0 auto;
				font-weight: 200;
				color: black;
				#title {
					// text-align: right;
				}
				#name {
					font-weight: 800;
					margin-bottom: rem-calc(5);
				}
				#units {
					font-weight: 200;
					font-size: rem-calc(30);
					span {
						font-size: rem-calc(15);
					}
				}
				#comments {

				}
				#request-remainder {
					position: absolute;
					bottom: 0px;
					span { font-weight: 500;}
					margin-bottom: rem-calc(10);
				}
				&:hover {
					-webkit-filter: drop-shadow( 0px 0px 2px $landing-dark-gray );
					filter: drop-shadow( 0px 0px 2px $landing-dark-gray ); 
				}
			}
		}
	}
}


ul.onboard-flow-header {
	list-style-type: none; /*to remove bullets*/
	display: table;
	width: 100%;
	margin: auto;
	padding: 0 rem-calc(10) 0 rem-calc(10);
	zoom:1;
	text-align: center;
	overflow: hidden;
	a { color: $landing-dark-gray; }
	&[data-steps="4"] li {width: 25%; /* evenly space 4 steps */}
	&[data-steps="5"] li {width: 20%; /* evenly space 5 steps */}
	li {
		display: inline-block;
		position: relative;
		vertical-align: top;
		font-weight:200;
		font-size: rem-calc(18);
		@media #{$small-only} {
			font-size: rem-calc(12);
		}
		display: inline-block;
		& > span > img, & > a > span > img {
			height: 60px;
		}
		& > span, & > a > span {
			display: block;
			margin-left: rem-calc(15);
			&:before {
				content: "";
				display: block;
				position: absolute;
				margin: 0 auto;
				background: $landing-lighter-blue;
				width: rem-calc(75);
				height: rem-calc(75);
				text-align: center; //IE8 doesn't inherit this style
				margin-bottom: 0.25em;
				line-height: rem-calc(65);
				border-radius: 100%;
				position: relative;
				z-index: 50;
				color: $landing-dark-gray;
				font-weight: 900;
				text-transform: uppercase;
			}
		}
		&.active > span:before, &.active > a > span:before {
			content: "DO";
			border: 5px solid $landing-blue;
	    -webkit-transition: color 0.5s, background-color 0.5s, border 0.5s; /* Safari */
	    transition: color 0.5s, background-color 0.5s, border 0.5s;
		}
		&.active:hover {
			cursor: pointer;
			& > span:before, & > a > span:before {
				color: white;
				background-color: $landing-blue;
				border: 5px solid $landing-blue;
				cursor: pointer;
			}
		}
		&.done > span:before, &.done > a > span:before {
			content: "DONE";
			background: $landing-pink;
			border: 5px solid $landing-pink;
			color: white;
			font-size: 85%;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: rem-calc(10);
			position: absolute;
			top: rem-calc(30);
			right: 50%;
			background: $landing-lighter-blue;
			z-index: 4;
		}
		&.done:before {
			background: $landing-pink;
		}
		&.active:before {
			background: $landing-blue;
		}
		&:first-child:before {
			display: none;
		}
	}
}

ul.onboard-modal-header {
	list-style-type: none; /*to remove bullets*/
	display: table;
	width: 100%;
	margin: auto;
	padding: 0 rem-calc(10) 0 rem-calc(10);
	zoom:1;
	text-align: center;
	overflow: hidden;
	a { color: $landing-dark-gray; }
	&[data-steps="2"] li {width: 50%; /* evenly space 2 steps */}
	&[data-steps="3"] li {width: 33%; /* evenly space 3 steps */}
	&[data-steps="4"] li {width: 25%; /* evenly space 4 steps */}
	&[data-steps="5"] li {width: 20%; /* evenly space 5 steps */}
	&[data-steps="7"] li {width: 14%; /* evenly space 7 steps */}
	li {
		display: inline-block;
		position: relative;
		vertical-align: top;
		font-weight:100;
		font-size: rem-calc(18);
		@media #{$small-only} {
			font-size: rem-calc(12);
		}
		display: inline-block;
		// & > span > img, & > a > span > img {
		// 	height: 60px;
		// }
		& > span, & > a > span {
			display: block;
			// margin-left: rem-calc(15);
			&:before {
				content: attr(data-step);
				display: block;
				position: absolute;
				margin: 0 auto;
				background: $landing-lighter-blue;
				width: rem-calc(40);
				height: rem-calc(40);
				text-align: center; //IE8 doesn't inherit this style
				margin-bottom: 0.25em;
				line-height: rem-calc(40);
				border-radius: 100%;
				position: relative;
				z-index: 50;
				color: $landing-dark-gray;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
		&.active > span:before, &.active > a > span:before {
			// content: "DO";
			background-color: $landing-blue;
			// border: 5px solid $landing-blue;
	    -webkit-transition: color 0.5s, background-color 0.5s, border 0.5s; /* Safari */
	    transition: color 0.5s, background-color 0.5s, border 0.5s;
		}
		&.active > span {
			font-weight: 500;
		}
		// &.active:hover {
		// 	cursor: pointer;
		// 	& > span:before, & > a > span:before {
		// 		color: white;
		// 		background-color: $landing-blue;
		// 		border: 5px solid $landing-blue;
		// 		cursor: pointer;
		// 	}
		// }
		&.done > span:before, &.done > a > span:before {
			content: "";
			background: $landing-blue;
			// border: 5px solid $landing-pink;
			color: white;
			font-size: 85%;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: rem-calc(5);
			position: absolute;
			top: rem-calc(20);
			right: 50%;
			background: $landing-lighter-blue;
			z-index: 4;
		}
		&.done:before {
			background: $landing-blue;
		}
		&.active:before {
			background: $landing-blue;
		}
		&:first-child:before {
			display: none;
		}
	}
}

#onboard-modal {
  position: fixed;
  top: 10%;
  left: 50%;
  @media only screen { 
    width:95%; 
    margin: 0 0 0 -47.5%;
  }
  @media only screen and (min-width: 40.063em) { 
    margin: 0 0 0 -40%;
    width:80%;
  }
  height: 80%;  
  background: white;
  z-index: 96;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#onboard-modal-data {
	// position: absolute;
	// top: 0;
	// left: 0;
  height: 100%;
  padding: rem-calc(5);
  width: 90%;
  margin: auto;
}
#onboard-modal-next {
	z-index: 96;
	height: 3.5em;

	& > a#next:before {
		content: 'next';
		display: inline-block;
		margin: 0 auto;
		background: $landing-blue;
		width: 3.5em;
		height: 3.5em;
		text-align: center; //IE8 doesn't inherit this style
		margin-bottom: 0.25em;
		line-height: 3.5em;
		border-radius: 100%;
		position: relative;
		z-index: 1000;
		color: $landing-dark-gray;
		font-weight: 500;
		transition: color 0.5s;
  }
  
  & > a#next:hover:before {
  	color: white;
  }

	& > a#close-onboard-modal-button:before {
		content: 'finish later';
		display: inline-block;
		margin: 0 auto;
		text-align: center; //IE8 doesn't inherit this style
		margin-bottom: 0.25em;
		line-height: 1em;
		position: relative;
		z-index: 1000;
		color: #ff3c6e;
		font-weight: 500;
		transition: color 0.5s;
  }

	& > a#onboard-back:before {
		content: 'back';
		display: inline-block;
		margin: 0 auto;
		text-align: center; //IE8 doesn't inherit this style
		margin-bottom: 0.25em;
		line-height: 1em;
		position: relative;
		z-index: 1000;
		color: #ff3c6e;
		font-weight: 500;
		transition: color 0.5s;
  }

  & > a#close-onboard-modal-button:hover:before {
  	color: white;
  }

	@media only screen {
		position: fixed;
		right: 40%;
		bottom: -3.5em;
		-ms-transform: translate(1.75em, 0); /* IE 9 */
		-webkit-transform: translate(1.75em, 0); /* Safari */
		transform: translate(1.75em, 0);		
		transition: bottom 0.5s;
		& > a#close-onboard-modal-button:before {
			width: 80px;
			margin: auto;
		}
		& > a#onboard-back:before {
			margin-bottom: rem-calc(20);
			width: 50px;
			margin: auto;
		}
	}
	@media only screen and (min-width: 40.063em) { 
		width: 3.5em;
		position: fixed;
		right: -3.5em;
		top: 50%;
		-ms-transform: translate(0, rem-calc(-50)); /* IE 9 */
		-webkit-transform: translate(0, rem-calc(-50)); /* Safari */
		transform: translate(0, rem-calc(-50));
		transition: right 0.5s;
		& > a#close-onboard-modal-button:before {
			margin-top: rem-calc(10);
			margin-left: 0;
		}
		& > a#onboard-back:before {
			margin-left: rem-calc(5);	
		}
	}

	&.show {

		@media only screen { 
			bottom: rem-calc(5);
		}
		@media only screen and (min-width: 40.063em) { 
			right: rem-calc(25);
		}

	}
}
#close-onboard-modal {
  position: fixed;
  // top: rem-calc(-40);
  // right: rem-calc(10);
  top: 5%;
  @media only screen { 
  	right: 4%;
  }
  @media only screen and (min-width: 40.063em) { 
		right: 11%;
  }
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 97;
}

