@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

#v2header {
	background-color: #fff;
	padding-top: rem-calc(20);

	font-weight: 200;

	hr {
		margin-top: rem-calc(10);
		margin-bottom: 0;
	}

	a {
		color: #000000;
	}

	// FOR INACTIVE MENU ITEMS
	.inactive {
		font-weight: 100;
		color: $landing-middle-gray;
	}

}

#v2subheader {
	background-color: $landing-peach;
	font-weight: 200;
	h3 {
		color: $landing-dark-gray;
		// line-height: 1em;
		margin-bottom: 0;
		margin-top: 0;
	}
	a {
		color: $landing-blue;
		font-weight: 500;
	}

	// FOR INACTIVE MENU ITEMS
	.inactive {
		font-weight: 100;
		color: $landing-middle-gray;
	}

	.navbar {
	    width: 100%;
	    margin-left: auto ;
	    margin-right: auto ;
	    background-color: white;
	    hr {
	    	margin-top: 0;
	    }
	}
	.navbar ul {
		list-style-type: none; /*to remove bullets*/
		text-align: center;
		padding: 0px;
		zoom:1;
		overflow: hidden;
		margin-bottom: 0;
		margin-left: 0;
		border-top: 1px solid white;
		border-bottom: 1px solid $landing-blue;
		// :first-child {text-align: left;}
		// :last-child {text-align: right;}
	}
	.navbar li{
	    padding: 2px;
	    text-align:center;
	    width: 10%;
	    display:inline-block;
	    border-bottom: 2px solid transparent;
	    -webkit-transition: border-bottom 0.5s linear;
	    -moz-transition: border-bottom 0.5s linear;
	    -o-transition: border-bottom 0.5s linear;
	    transition: border-bottom 0.5s linear;
	    &:hover {
	    	border-bottom: 2px solid $landing-blue;
	    }
	}

}

.breadcrumbs {
	margin-top: rem-calc(20);
	font-weight: 100;
	.current {
		font-weight: 200;
	}

}
.breadcrumbs > *:before {
	top: -2px;
}