@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";



// MATCH PAGES

.matchcount {
  font-size: 0.7em;
}

.deactivate {
  border: 1px dotted #a6a6a6; 
  a { 
    color: #a6a6a6;
    pointer-events: none;
    cursor: default;
   }
}

.filter-form-panel {
  margin: 0em 1em;
}



.message-index-indicator {
  @include label(
    // This options sets label padding
    $padding:rem-calc(4 8 6),
    // This option sets label text-size
    $text-size:rem-calc(11),
    // This option sets label background-color
    $bg:$landing-middle-gray,
    // This option sets the radius of the label
    $radius:2px
  );  
}

.plt-indicator-info {
  @include label(
    // This options sets label padding
    $padding:rem-calc(4 8 6),
    // This option sets label text-size
    $text-size:rem-calc(11),
    // This option sets label background-color
    $bg:$landing-light-gray,
    // This option sets the radius of the label
    $radius:2px
  );
  margin-bottom: 0.5em;
}

h2#contact-banner-text {
  margin-bottom: rem-calc(25);
  margin-top: rem-calc(25);    
}
.plt-indicator-action-on {
  @include label(
    // This options sets label padding
    $padding:rem-calc(4 8 6),
    // This option sets label text-size
    $text-size:rem-calc(20),
    // This option sets label background-color
    $bg:$landing-blue,
    // This option sets the radius of the label
    $radius:2px
  );
  font-weight: 100;
  &.tiny {

    @include label(
      // This options sets label padding
      $padding:rem-calc(4 8 6),
      // This option sets label text-size
      $text-size:rem-calc(10),
      // This option sets label background-color
      $bg:$landing-blue,
      // This option sets the radius of the label
      $radius:2px
    );

  }
}
.plt-indicator-action-off {
  @include label(
    // This options sets label padding
    $padding:rem-calc(4 8 6),
    // This option sets label text-size
    $text-size:rem-calc(20),
    // This option sets label background-color
    $bg:scale-color($landing-blue, $lightness: 50%),
    // This option sets the radius of the label
    $radius:2px
  );
  font-weight: 100;
  &.tiny {

    @include label(
      // This options sets label padding
      $padding:rem-calc(4 8 6),
      // This option sets label text-size
      $text-size:rem-calc(10),
      // This option sets label background-color
      $bg:scale-color($landing-blue, $lightness: 50%),
      // This option sets the radius of the label
      $radius:2px
    );

  }
}
.plt-indicator-alert {
  @include label(
    // This options sets label padding
    $padding:rem-calc(4 8 6),
    // This option sets label text-size
    $text-size:rem-calc(11),
    // This option sets label background-color
    $bg:$landing-orange,
    // This option sets the radius of the label
    $radius:2px
  );
  margin-bottom: 0.5em;
}

.view-match-company-info {
  // border: 1px solid $landing-middle-gray;
  background: white; 
  border-radius: 2px;
  padding: 0.7em;
}

#contact-start-button {
  background-color: scale-color($landing-blue, $lightness: 50%);
  font-weight: 100;
  font-size: rem-calc(20);
  border-radius: 2px;
  color: black;
  padding: rem-calc(10) rem-calc(20);
  h2 {
    margin-bottom: 0;
  }
  margin: rem-calc(30) rem-calc(10);
}



.tags-list{
  // border: 1px solid black;
  padding-top: rem-calc(2);
  padding-bottom: rem-calc(10);
  margin-bottom: rem-calc(10);
}

#quick-view {
  position: fixed;
  top: 15%;
  left: 50%;
  margin: 0 0 0 -37.5%;
  width:75%;
  height: 75%;  
  background: white;
  z-index: 11;
  display: none;
}
#quick-view-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;  
}
#close-quick-view {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: red;
  z-index: 12;
}
// FOR TESTING ONLY
// .overlay#quick-view-overlay {
//   display: block;
// }