@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.site-notice {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: $landing-pink;
	z-index: 99999;
	padding: rem-calc(5);
	text-align: center;
	font-weight: 600;
	color: white;
    -webkit-filter: drop-shadow( 0px 0px 4px $landing-middle-gray );
            filter: drop-shadow( 0px 0px 4px $landing-dark-gray ); /* Same syntax as box-shadow */
	a {
		color: white;
		text-decoration: underline;
	}
}
a.full-width-button-link {
	display: block;
	width: 100%;
	border: 1px solid $landing-blue;
	background-color: $landing-blue;
	text-align: center;
	padding: rem-calc(10);
	font-weight: 500;
	color: $landing-dark-gray;
}

.container {
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(15);
	margin: rem-calc(15) auto;
	background-color: #fff;
	& > #lead {
		position: relative;
		height: rem-calc(40);
		i {
			margin-right: rem-calc(10);
		}
		& > #title {
			position: absolute;
			left: 0;
			top: 0;
			// background-color: #D8D8D8;
			padding: 0 rem-calc(30);
			font-weight: 900;
			#sub {
				font-weight: 300;
			}
		}
		& > #close {
			position: absolute;
			right: 0;
			top: 0;
			padding: rem-calc(5);
			a {color: $landing-middle-gray;}
		}
	}
	&.marketplace {
		// border-top: 3px solid $landing-blue;
		& > #lead > #title {
			background-color: $landing-blue;
			color: white;
		}
	}
	&.insights {
		border-top: 3px solid green;
		& > #lead > #title {
			background-color: green;
			color: white;
		}
	}
	& > #main-body {
		padding: 0 rem-calc(30) rem-calc(30) rem-calc(30);
		&.restricted::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include transparent($landing-light-gray, 0.9);
			z-index: 999;
		}
		&.restricted > #restricted-message {
			z-index: 1001;
			position: fixed;
			width: rem-calc(400);
			border: 1px solid $landing-dark-gray;
			top: 30%;
			left: 50%;
			text-align: center;
			background-color: white;
			padding: rem-calc(20);
			margin-left: rem-calc(-200);
		}
	}
	&#article {
		max-width: rem-calc(1000);
	}
}

ul.filterlist {
	list-style-type: none; /*to remove bullets*/
	text-align: left;
	margin-left:0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		font-weight:700;
		display: inline-block;
		&::before {
			content: "/ ";
		}
		&:first-child::before {
			content: " ";
		}
		&.active {
			a{color: $landing-dark-gray;}
		}
	}
}


input[type="text"].searchbox {
	&::-webkit-input-placeholder {
	   color: $landing-middle-gray;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
	}
	&:-ms-input-placeholder {
		color: $landing-middle-gray;
	}
	background-color: white;
	border-bottom: 1px solid $landing-middle-gray;
	&:focus {
		box-shadow: none;
	}
	&.white {
		&::-webkit-input-placeholder {
		color: white;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: white;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: white;
		}
		&:-ms-input-placeholder {
		color: white;
		}
	}
	&.white:focus {
		&::-webkit-input-placeholder {
		color: $landing-middle-gray;
		}
		&:-moz-placeholder { /* Firefox 18- */
		color: $landing-middle-gray;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		color: $landing-middle-gray;
		}
		&:-ms-input-placeholder {
		color: $landing-middle-gray;
		}
	}
}


ul.tablist {
	list-style-type: none; /*to remove bullets*/
	margin-left:0;
	margin-bottom: 0;
	padding: 0px;
	zoom:1;
	overflow: hidden;
	li {
		vertical-align: bottom;
		a{color: $landing-blue;}
		font-weight:200;
		font-size: rem-calc(18);
		display: inline-block;
		margin: 0 rem-calc(5);
		padding: rem-calc(10) rem-calc(0) rem-calc(5) rem-calc(0);
		border-bottom: rem-calc(3) solid transparent;
		&.active {
			border-bottom: rem-calc(3) solid $landing-middle-gray;
		}
	}
}

.landing-notice {
	padding: rem-calc(25);
	border: 1px solid $landing-middle-gray;
	background: $landing-light-gray;
	font-weight: 200;
	font-size: rem-calc(15);
	@media #{$small-only} { font-size: rem-calc(10); }
	&:before {
		content: 'PLEASE NOTE: ';
	}
}


// MODALS

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  // background-color: rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.8);
  display: none;
  &#ajax-wait-overlay {
    z-index: 1000000;
    background-color: rgba(0,0,0,0.1);
  }
  &#onboard-modal-overlay {
  	z-index: 95;
  }
}

//updated modals
#modal {
	display:none;
	#modal-overlay {
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  z-index: 100000;
	  // background-color: rgba(0,0,0,0.5);
	  background-color: rgba(0,0,0,0.8);
	}
	#modal-container {
		position: fixed;
		top: -100%;
		left: 50%;
		&.x-large {
			@media only screen and (min-width: 40.063em) { 
				margin: 0 0 0 -40%;
				width:80%;
			}
		}
		&.large {
			@media only screen and (min-width: 40.063em) { 
				margin: 0 0 0 -25%;
				width:50%;
			}
		}
		&.small {
			@media only screen and (min-width: 40.063em) { 
				margin: 0 0 0 -15%;
				width:30%;
			}	  	
		}
			@media only screen { 
				width:95%; 
				margin: 0 0 0 -47.5%;
			}
			max-height: 85%;  
			background: white;
			z-index: 100021;
			padding: rem-calc(20) rem-calc(10);
			overflow-x: scroll;
		}
		#modal-data {
			height: 100%;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: rem-calc(5);
		}
		#modal-close-x {
			position: absolute;
			top: rem-calc(-40);
			right: rem-calc(10);
			font-size: rem-calc(60);
			font-weight: 900;
			color: $landing-middle-gray;
			z-index: 100022;
		}

}


.ajax-wait {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000001; /* 1px higher than the overlay layer */
	.ajax-wait-inner {
		background-image: url('/images/landing_loading.gif');
		background-repeat: no-repeat;
		background-position: center;
	  position: absolute;
		width: 100px;
		height: 100px;
		top: 50%; 
		left: 50%;
		margin: -50px 0 0 -50px;
		background-color: $landing-light-gray;
		border: 1px solid $landing-middle-gray;
		border-radius: 5px;
		text-align: center;
		z-index: 1000002; /* 1px higher than the overlay layer */
		font-weight: 700;
	}
}

#ajax-message, #ajax-message-error {
	position: fixed;
	@include transparent($landing-middle-gray, 0.7);
	bottom: 0;
	width: 100%;
	z-index: 1000001;

	display: none;
	.ajax-message-inner {
		
		height: rem-calc(40);
		color: white;
		font-weight: 100;
		font-size: rem-calc(25);
		position: relative;
		@media only screen { 
			width:95%; 
			margin: auto;
		}
		@media only screen and (min-width: 40.063em) { 
			max-width:40%;
			margin: auto
		}
		&#success {
			background-color: $landing-orange;
		}
		&#error {
			background-color: red;
		}
	}
}

// Inline error styling
.inline-error {
	display: none;
	font-size: rem-calc(12);
	font-weight: 300;
	color: red;
	width: 100%;
	/*border: 1px solid red;*/
	margin: 0 0 rem-calc(10) 0;
}


// NUMBER IN A CIRCLE
.step {
  &:before {
    content: attr(data-step);
    display: inline-block;
    // margin: 0 auto;
    background: $landing-lighter-blue;
    width: 1.5em;
    height: 1.5em;
    text-align: center; //IE8 doesn't inherit this style
    margin-bottom: 0.25em;
    line-height: 1.5em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
    color: $landing-dark-gray;
    font-weight: 500;
  }
  &.dashboard {
  	&:before {
  		background: $landing-blue;
  		color: white;
  	}
  }
}

// NOTICES
.notice {
	padding: rem-calc(10);
	margin: rem-calc(10) 0;
	color: $landing-orange;
	font-weight: 200;
	font-size: rem-calc(12);
	background-color: $landing-light-gray;

}


// PRODUCT & COMPANY TILES

.tiled-item {
	position: relative;
	border: 1px solid $landing-middle-gray;
	padding: rem-calc(5);
	width: rem-calc(180);
	height: rem-calc(180);
	overflow: hidden;
	margin: auto;
	a { 
		color: $landing-middle-gray;
	}
	.image-inner {
		// border: 1px solid red;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		height: 80%;
		margin: -81px 0 0 -71px;
		text-align: center;
		overflow: hidden;
		-moz-background-size: contain;
		-o-background-size: contain;
		-webkit-background-size: contain;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
	}
	.name, .product-name {
		// border: 1px solid green;
		position: absolute;
		padding: rem-calc(5);
		width: 100%;
		// @include transparent(#fff, 0.25);
		text-align: right;
		font-weight: 400;
		font-size: rem-calc(12);
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
	}
	.name {
		bottom: 0;
		right: 0;
	}
	.product-name {
		color: transparent;
		font-weight: 600;
		font-size: 115%;
		top: 0;
		right: 0;
	}
	&:hover .image-inner {
		-moz-transform: scale(1.1,1.1);
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1);  
	}
	&:hover {
		border-color: $landing-dark-gray;
	}
	&:hover .name, &:hover .product-name {
		color: $landing-light-gray;
		@include transparent($landing-dark-gray, 0.70);
	}
	&.filtered {
		margin-bottom: rem-calc(60);
	}	
}

.more-link {
	display: block;
	color: $landing-blue;
	font-weight: 500;
	width: 100%;
	border: 1px solid $landing-blue;
	background-color: white;
	padding: rem-calc(10);
	text-align: center;
	margin-top: rem-calc(5);
	transition: background-color .5s;
	// transition: color .5s;
	&:hover {
		color: white;
		background-color: $landing-blue;
	}
}

#error-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  @media only screen { 
    width:95%; 
    margin: 0 0 0 -47.5%;
  }
  @media only screen and (min-width: 40.063em) { 
    margin: 0 0 0 -25%;
    width:50%;
  }
  max-height: 85%;  
  background: white;
  z-index: 100021;
  padding: rem-calc(20) rem-calc(10);
  overflow-x: scroll;
  display: none;
}
#error-modal-data {
  h2 {
  	color: red;
  }
  h3 {
  	padding: rem-calc(7);
	font-weight: 300;
  	border-top: 1px solid $landing-light-gray;
  	border-bottom: 1px solid $landing-light-gray;
  }
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: rem-calc(5);
}
#close-error-modal {
  position: absolute;
  top: rem-calc(-40);
  right: rem-calc(10);
  font-size: rem-calc(60);
  font-weight: 900;
  color: $landing-middle-gray;
  z-index: 100022;
}

.large-banner {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: 800;
	font-size: rem-calc(120);
	line-height: rem-calc(105);
	color: white;
	background-color: $landing-blue;
	padding: rem-calc(20) rem-calc(40);
	@media #{$medium-only} { 
		font-size: rem-calc(80);
		line-height: rem-calc(70);
	}
	@media #{$small-only} { 
		font-size: rem-calc(40);
		line-height: rem-calc(35);
	}
}

.printable {
	display: none;
}