<div id="v2subheader">
	<div class="hide-for-small-only text-center">
		<h3><strong>marketplace</strong></h3>
	</div><!--/.hide-for-small-only-->
</div>
<%= render partial: "brands/subscription_notice", locals: {status: @brand_subscriber_status} if @brand_subscriber_status %>