<div id="v2subheader">
	<div class="hide-for-small-only text-center">
		<h3><strong>marketplace</strong></h3>
			<div class="navbar" id="marketplace">
			    <ul>
			<% @brand_chunk.each do |bc| %>
				<li><%= link_to brands_url(filter: "#{bc.id}", type: "c") do %><%= bc.name %><% end %></li>
			<% end %>
			    </ul>
			</div>
		
	</div><!--/.hide-for-small-only-->
</div>

<%= render partial: "brands/subscription_notice", locals: {status: @brand_subscriber_status} if @brand_subscriber_status %>