<div id="v2subheader">
	<div class="row hide-for-small-only">
		<div class="medium-12 columns text-center">
			<div class="navbar">
			    <ul>
						<li><a href="Home">Bath&amp;Body</a></li>
						<li><a href="Discounts">Cosmetics</a></li>
						<li><a href="Contact">Fragrance</a></li>
						<li><a href="About">Hair</a></li>
						<li><a href="About">Men's</a></li>
						<li><a href="About">Nail</a></li>
						<li><a href="About">Skin</a></li>
						<li><a href="About">Sun Care</a></li>
						<li><a href="About">Tools&amp;Devices</a></li>
			    </ul>
			</div>
		</div><!--/.small-12-->
	</div><!--/.row-->
</div>