<div id="v2subheader">
	<div class="hide-for-small-only text-center">
		
			<div class="navbar">
			    <ul>
			<% @brand_chunk.each do |bc| %>
				<li><%= link_to brands_url(filter: "#{bc.id}", type: "c") do %><%= bc.name %><% end %></li>
			<% end %>
			    </ul>
			</div>
		
	</div><!--/.hide-for-small-only-->
</div>

