<div class="row">
	<div class="small-12 columns text-left">
		<h2>Thanks!</h2>
		<h2>You've selected to disable Armor Payments (Payoneer) Escrow and use a different payment method.</h2>
		<hr>
		<h3>You can now submit orders. You can go to Edit Profile if you'd like to change your payment method in the future.</h3>
		<hr>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns text-center">
		<%= link_to "OK", "#", class: "landing-button", id: "submit-close" %>
	</div><!--/.small-12-->
</div><!--/.row-->