<div class="row">
	<div class="small-12 columns text-left">
		<h2>Success!</h2>
		<hr>
		<h3>You've enabled Armor Payments (Payoneer) Escrow and can now submit orders</h3>
		<hr>
	</div><!--/.small-12-->
</div><!--/.row-->
<div class="row">
	<div class="small-12 columns text-center">
		<%= link_to "OK", "#", class: "landing-button", id: "submit-close" %>
	</div><!--/.small-12-->
</div><!--/.row-->