<table style="width: 90%; margin: auto; ">
	<tr>
		<td style="font-size:12px;font-weight:light;padding: 1em; ">
			<h2>Order Payment Released</h2>
			Hello, <%= order.orderer.company_name %> has released payment from escrow.
		</td>
	</tr>
	<tr>
		<td style="font-size:12px;font-weight:light;padding: 1em; ">
			<small>Order Description:</small><br>
			Landing International Marketplace:<br>
			Purchase of goods from <%= order.brand.company_name %> by <%= order.orderer.company_name %> <br>
		</td>
	</tr>
</table>