<table style="width: 90%; margin: auto; ">
	<tr>
		<td style="font-size:12px;font-weight:light;padding: 1em; ">
			<h2>Order in Dispute</h2>
			Hello, <%= order.orderer.company_name %> has initiated a dispute.
		</td>
	</tr>
	<tr>
		<td style="font-size:12px;font-weight:light;padding: 1em; ">
			<small>Order Description:</small><br>
			Landing International Marketplace:<br>
			Purchase of goods from <%= order.brand.company_name %> by <%= order.orderer.company_name %> <br>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px;font-weight:light; padding:1em;">
			<strong>Next Step:</strong><br>
			Armor Payments, a Payoneer company will contact all parties via email.
		</td>
	</tr>
</table>