<% comment ||= nil %>
<% company_name ||= nil %>
<% delivery_info ||= nil %>
<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%"><tbody><tr style="padding:0;text-align:left;vertical-align:top"><td height="10px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:10px;font-weight:lighter;hyphens:auto;line-height:10px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&#xA0;</td></tr></tbody></table><table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%"><tr style="padding:0;text-align:left;vertical-align:top"><td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:12px;font-weight:700;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word"><%= status_action %> <% company_name ? "by #{company_name}" : "" %></span> <%= date.in_time_zone("Pacific Time (US & Canada)").strftime("on %d %b %Y at %H:%M %Z") %></td></tr><tr style="padding:0;text-align:left;vertical-align:top"><td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:12px;font-weight:lighter;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word"><div>
	<% if comment && comment.text.present? %>
		<%= simple_format(comment.text, {}, wrapper_tag: "div") %>
	<% else delivery_info %>
		<%= delivery_info %>
	<% end %>
</div></td></tr></table>