<span style="font-size:25px;font-weight:light;">
	<%= order.orderer.company_name %>
</span>
<br> <span style="font-size:20px;font-weight:light;">
has placed funds into escrow <br>for an order of goods from</span> <br>
<span style="font-size:25px;font-weight:light;">
	<%= order.brand.company_name %>
</span>