<span style="font-size:25px;font-weight:light;">
Landing International Marketplace: <br>
Purchase of goods from <%= order.brand.company_name %> by <%= order.orderer.company_name %> <br>
</span>
<span style="font-size:20px;font-weight:light;">
Status Update:<br>
Purchase funds have posted to the escrow account and the order is now ready to be shipped.
</span>