<table style="width: 90%; margin: auto; ">
	<tr>
		<td style="font-size:12px;font-weight:light;padding: 1em; ">
			<h2>Order Funds in Escrow</h2>
			Hello, funds have been posted to escrow for the following order:
		</td>
	</tr>
	<tr>
		<td style="font-size:12px;font-weight:light;padding: 1em; ">
			<small>Order Description:</small><br>
			Landing International Marketplace:<br>
			Purchase of goods from <%= order.brand.company_name %> by <%= order.orderer.company_name %> <br>
		</td>
	</tr>
	<tr>
		<td style="font-size:12px;font-weight:light; padding:1em;">
			<strong>Next Step:</strong><br>
			The order is ready for shipment.
		</td>
	</tr>
</table>