<span style="font-size:25px;font-weight:light;">
	Hello, <%= order.orderer.company_name %>
</span>
<p>
<span style="font-size:25px;font-weight:light;">
	<%= order.brand.company_name %>
</span>
<br>has updated your order
</p>