<span style="font-size:25px;font-weight:light;">
	<%= order.orderer.company_name %>
</span>
<br>has submitted an order for<br>
<span style="font-size:25px;font-weight:light;">
	<%= order.brand.company_name %>
</span>