<h1>Next Step: Wait for payment from <%= order.orderer.company_name %></h1>
<div class="info">
	<h3><%= order.orderer.company_name %> has approved the final order costs and will place payment into escrow via Armor Payments.<br> You will receive notice via email when payment has been received.</h3>
</div>