<h1>Next Step: Wait for payment from <%= order.orderer.company_name %></h1>
<div class="info">
	<h3><%= order.orderer.company_name %> has approved the final order costs and will be sending payment shortly.</h3>
</div>