							<h1>Next Step: Submit Payment</h1>

							<div class="panel">
								<h3>
									For your security and convenience, Landing International has partnered with <%= link_to "//armorpayments.com", target: "_blank" do %>Armor Payments, a Payoneer company<% end %> to handle payment via secure escrow.</h3>

								<h3>Click on the button below to view instructions on how to complete payment.</h3>
								<% if order.errors.any? %>
									<h4>Sorry, there was an error. Please reload the page</h4>
									<% order.errors.full_messages.each do |m| %>
										<%= m %><br>
									<% end %>
								<% else %>
									<% if @armor_payment_instructions_url.present? %>
										<%= render partial: "orders/showfull/approved_orderer_payment_instructions", locals: {url: @armor_payment_instructions_url, order: order} %>
									<% end %>
								<% end %>
								<br><br>
								<div class="landing-notice"><h3>It may take from 1 day (via Wire Transfer) to 3 days (via Bank Transfer - ACH) for funds to post to the escrow account, and a further 24 hours for the order status to be updated. You will receive an email when the funds have posted and the order has shipped. If you have any questions, please feel free to contact us at <a href="mailto:orders@landingintl.com">orders@landingintl.com</a></h3></div>
							</div>
