<h1 class="top-level">Next Step: Await Shipment</h1>
<div class="info">
	<h3>You will receive notice via email when the order has been shipped.</h3>
</div>
<%= render partial: "add_additional_comment_link" %>