<h1 class="top-level">Next Step: Send Payment</h1>
<%= render partial: "orders/add_additional_comment_link" %>
<br>
<h1><span class="step" data-step="1"></span> Send Payment</h1>
<div class="info">
	<h3>Thanks for your order! Please send payment of</h3>
</div>
<div class="panel">

	<div class="payment-display">
	<h2 id="amount"><%= number_to_currency(order.total_price) %></h2>
	</div>
	<h3>Contact <a href="mailto:payments@landingintl.com">payments@landingintl.com</a> for information on how to process your payment.</h3>

</div>