<a id="paymentInstructionsFrame-lightbox-preview" data-url="<%= url %>" class="landing-button">View Armor Payments (Payoneer) Payment Transfer Information</a>
<% content_for :javascript_foot do %>
	<script type="text/javascript">
		var ArmorInstructionsClicked = false;
		$("#paymentInstructionsFrame-lightbox-preview").click(function(){
			if (!ArmorInstructionsClicked) {
				var url = $(this).attr("data-url");
				showArmorPaymentsLightboxUi(url, 250, true);
				ArmorInstructionsClicked = true;
			} else {
				$('#order-item-data').html("<div class='text-center'><h3>Sorry, there was an error, please reload the page and try again.</h3></div>");
				$('.overlay#order-item-overlay').fadeIn();
				$('#order-item').fadeIn();
			}
		});
	</script>
<% end %>

