<h1>Next Step: Await Review and Payment Release</h1>
<div class="info">
	<h3><%= order.orderer.company_name %> will review the shipment before release of payment. You will be notified via email when payment has been released!</h3>
</div>