<h1>Next Step: Wait for <%= order.orderer_company_name %> to review the shipment</h1>

<br>
<div class="panel">
	<div class="info">
		<h3><%= order.orderer_company_name %> will review the shipment and will mark the order as complete if all looks great!</h3>
	</div>
</div>