<br>
<h1 class="top-level">Next Step: Review Shipment</h1>
<%= render partial: "add_additional_comment_link" %>
<br>
<h1><span class="step" data-step="1"></span> Review Shipment</h1>
<div class="info">
	<h3>Please review your order</h3>
</div>
<div class="panel">
<div class="info">
	<h2>If you have any questions or issues with your shipment, please contact <a href="mailto:orders@landingintl.com">orders@landingintl.com</a></h2>
</div>
</div>

<br>
<h1><span class="step" data-step="2"></span> Does it all look good? Mark order as complete!</h1>
<div class="info">
	<h3>If it all looks good, please mark the order as complete below</h3>
</div>
<div class="panel">
	<%= link_to "Hooray! It all looks great!".html_safe, armor_disabled_completed_order_url(@order,0), class: "landing-button", remote: true %>
</div>