<a id="disputePayment-lightbox-preview" data-url="<%= disputeurl %>" class="landing-button">View Dispute Status</a>
<br><br>
<% content_for :javascript_foot do %>
	<script type="text/javascript">
		var ArmorDisputeClicked = false;
		$("#disputePayment-lightbox-preview").click(function(){
			if (!ArmorDisputeClicked) {
				var url = $(this).attr("data-url");
				showArmorPaymentsLightboxUi(url, 250, true);
				ArmorDisputeClicked = true;
			} else {
				$('#order-item-data').html("<div class='text-center'><h3>Sorry, the link has expired. Reloading page...</h3></div>");
				$('.overlay#order-item-overlay').fadeIn();
				$('#order-item').fadeIn();
				window.location.replace("<%= order_url(order) %>");
			}
		});
	</script>
<% end %>

