<div id="message-list">
<% if !match.messages.blank? %>
<%= render partial: 'shared/messages/message_list_all', locals: {stage: stage} %>
<% end %>
</div>

<% if stage == "contact" %>
	<div class="row collapse">				
		<div class="small-12 columns">
			<div class="bubble-container">
				<div class="bubble-them">
					<%= simple_format(match.intro_message) %>
					<small>Sent <%= match.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%d %b %Y at %H:%M %Z") %></small>
				</div>	
			</div>
		</div>
	</div>
<% end %>