

		
		<% if @current_user.distributor %>

			<% if @current_user.subscriber? %>
				<%= render partial: "/shared/profile/brand_full_profile", locals: {profile: @match} %>
			<% else %>
				<%= render partial: "/shared/profile/brand_public_profile", locals: {profile: @match} %>
				<div class="row">
					<div class="small-12 text-center columns">
						<h2>Landing International Premium Account holders have access to this Brand's full profile</h2>
					</div><!--/.small-12-->
				</div><!--/.row-->
			<% end %>

		<% elsif @current_user.brand %>

			<% if @current_user.subscriber? %>
				<%= render partial: "/shared/profile/distributor_full_profile", locals: {profile: @match} %>
			<% else %>
				<%= render partial: "/shared/profile/distributor_public_profile", locals: {profile: @match} %>
				<div class="row">
					<div class="small-12 text-center columns">
						<h2>Landing International Premium Account holders have access to this Brand's full profile</h2>
					</div><!--/.small-12-->
				</div><!--/.row-->
			<% end %>

		<% end %>