<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="small-12 columns marketplace-header">
		<%= image_tag "logo_header_marketplace.svg" %>
	</div>
</div>

<div class="row">
	<div class="small-12 columns marketplace-subpage-header">
	<h1>GALLERY</h1>
	<h3>View the most recent products in the Landing Marketplace.</h3>
	</div>
</div>


<% if @gallery %>

<div class="row collapse">
	<div class="small-11 small-centered columns">
		<div class="profile-content gallery-window" style="background: white;">

				<ul class="medium-block-grid-6 small-block-grid-1" id="gallery-list">
					<%= render "gallery_results"%>
				</ul>
				<%#= paginate @gallery %>
				<br><br>

				

		</div>
	</div><!--/.small-12-->
</div><!--/.row-->
<% end %>

