<%= render partial: "shared/topbar" %>

<%= render partial: "shared/marketplace_subhead", locals: {section: "VIEWING #{@current_user.type_inverse?.capitalize} <strong>#{@match.company_name}</strong> "} %>

<div class="row collapse">
	<div class="small-12 columns" id="page-content">

		<div id="match-view">
			<%= render "match_view" %>
		</div> <!-- /.#match-view -->

	</div><!--/.medium-10-->
</div>






