
<%#= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="small-12 columns marketplace-header">
		<div class="small-4 columns">
			<%= link_to all_matches_url do %>
			<%= image_tag "logo_header_marketplace.svg" %> 
			<% end %>
		</div>
		<div class="small-8 columns text-right">
			<h2><%= @current_user.type_inverse?.capitalize %> profile</h2>
		</div>
	</div>
</div>


<div class="row collapse">
	<div class="small-12 columns" id="page-content">

<div id="match-view">

<%= render "match_view" %>

</div> <!-- /.#match-view -->


	</div><!--/.medium-10-->
</div>






