// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";


h2.admin-orders-search-header {
	background-color: $landing-middle-gray;
	padding-left: rem-calc(10);
}
.admin-order-set {
	padding: rem-calc(5);
	margin: rem-calc(5) 0;

	& h3 {
		background-color: $landing-light-gray;
	}
}

.admin-container {
	background-color: white;
	min-height: 100vh;
	padding: rem-calc(10) 0 rem-calc(50) 0;
}

table.brand-payment-information {
	display: inline-block;
	vertical-align: top;
}

table#order-search {
	table-layout: fixed; 
	width: 100%;
	background-color: $landing-lighter-blue;
	tr {
		td {
			padding: 0;
			input {
				margin: 0;
			}
		}
	}
}

a.order-index-select {
	text-align: center;
	display: block;
	width: 100%;
	color: $landing-middle-gray;
	padding: rem-calc(10);
	border: 1px dotted $landing-light-gray;
	margin-bottom: rem-calc(5);
}