// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

.admin-order-set {
	padding: rem-calc(5);
	margin: rem-calc(5) 0;

	& h3 {
		background-color: $landing-light-gray;
	}
}

.admin-container {
	background-color: white;
	min-height: 100vh;
}