@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

// CONVERSATIONS

$you-color: scale-color($landing-middle-gray, $lightness: 70%);
$you-border: scale-color($landing-middle-gray, $lightness: 50%);
$them-color: scale-color($landing-blue, $lightness: 90%);
$them-border: scale-color($landing-blue, $lightness: 70%);
$bubble-font-size: 0.8em;
$bubble-margin: 85;

.bubble-container {
  margin-top: 0;
  // margin-bottom: rem-calc(40);
  border-top: 0px solid transparent;
  // margin-left: rem-calc(5);
  // margin-right: rem-calc(5);
  p{
    margin-bottom: 0;
  }
  h3 {
    background: white;
    padding: rem-calc(10);
  }
  & .conversation-shared-info {
    padding: 0 0 0 rem-calc(20);
    margin-bottom: rem-calc(25);
    h4 {
      margin-top: rem-calc(20);
    }
  }
}


.bubble-them, 
.bubble-you {
  margin-bottom: rem-calc(10);
}

.bubble-them
{
& p {font-size: $bubble-font-size;}
position: relative;
// width: 98%;
// min-height: 100px;
padding: rem-calc(10);
margin-right: rem-calc($bubble-margin);
margin-left: rem-calc(13);
background: $them-color;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 2px solid $them-border;
}

.bubble-them:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 15px;
border-color: transparent $them-color transparent transparent;
display: block;
width: 0;
z-index: 2;
left: -27px;
top: 10px;
}

.bubble-them:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent $them-border;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 10px;
}


.bubble-you
{
& p {font-size: $bubble-font-size;}
position: relative;
margin-left: rem-calc($bubble-margin);
margin-right: rem-calc(14);
padding: rem-calc(10);
background: $you-color;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 2px solid $you-border;
}

.bubble-you:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent $you-color;
display: block;
width: 0;
z-index: 2;
right: -13px;
top: 10px;
}
.bubble-you:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent $you-border;
display: block;
width: 0;
z-index: 1;
right: -15px;
top: 10px;
}
#message-list {
  // max-height: 200px;
  // overflow-y: scroll;
  // padding-bottom: rem-calc(50);
}

#unread-message-badge {
  font-weight: 900;
  font-size: 1.5em;
  color: red !important;
}

#mc-new-contacts, #mc-unread-messages {
  // border: 1px solid red;
  margin: 1em 0em;
  padding-bottom: 1em;
  border: 1px solid $landing-middle-gray;
  #mc-unread-messages-inner, #mc-new-contacts-inner {
    padding: 1em;
  }
}

.conversation-left-info-column, .conversation-right-message-column {

}
.conversation-left-info-column {
  overflow-x: hidden;
  overflow-y: scroll;
}

.conversation-right-message-column {

}


.convo-map {
  background-color: $landing-light-gray;
  height: rem-calc(50);
  position: relative;
  padding: rem-calc(1) 0;
  h1 a {color: $landing-middle-gray !important;}
}

.conversation-map-subhead {
  border-bottom: 1px solid $landing-light-gray;
}
.convo-map.active {
  background-color: $landing-blue;
  h1 a {color: $landing-dark-gray !important;}
}
.convo-map.viewing {
  h1 a {font-weight: 300; border-top: 1px solid $landing-middle-gray; border-bottom: 1px solid $landing-middle-gray;}
  &.active {h1 a {border-bottom: 1px solid $landing-dark-gray;border-top: 1px solid $landing-dark-gray;}}
  &.done {h1 a {border-bottom: 1px solid $landing-light-gray;border-top: 1px solid $landing-light-gray;}}
}
.convo-map.done {
  background-color: $landing-blue;
  h1 a {color: $landing-light-gray !important;}
}
.convo-map.active:not(.end):after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border: rem-calc(25) solid transparent;
  border-left-color: $landing-blue;

  top: 0px;
  right: rem-calc(-50);
  z-index: 1;
}

.conversation-header {
  background-color: $landing-middle-gray;
  height: rem-calc(50);
  &.active {
    background-color: $landing-blue;
  }
  position: relative;
}

// CONVERSATIONS INDEX STYLING (UPDATED)

.conversations-container {
  margin: 0 rem-calc(20) rem-calc(20) rem-calc(20);
  // background-color: $landing-middle-gray;
}
.conversations-content {
  padding: rem-calc(10);
  // background: white;
  color: $landing-dark-gray;
  h2 {
    color: $landing-dark-gray;
  }
  hr {
     // border: 1px solid $landing-middle-gray;
     border-color: $landing-light-gray;
     margin-top: 0px;
  }
}

#conversation-action,
#conversation-info {
  overflow-y: scroll;
}


.conversation-action-tile,
.conversation-action-center-tile {
  padding: rem-calc(10);
  border-radius: rem-calc(5);
  margin: rem-calc(15) 0;
  & .button{
    margin: rem-calc(15) 0 0 0;
  }  
}
.conversation-help-tile {
  padding: rem-calc(5) rem-calc(20);
  margin-bottom: rem-calc(20);
  border-radius: rem-calc(5);
  margin: rem-calc(2) 0;
  background: $landing-light-gray;
  font-weight: 100;
  font-size: rem-calc(12);
} 
.conversation-action-tile {
  border: 2px solid $landing-middle-gray;
  background: white;
  h4 {
    margin-bottom: 0;
  }    
  &.active {
    border: 2px solid $landing-orange;
  }
  #contact-accept {
    margin-top: rem-calc(10);
  }
  // remove default padding for buttons
  
  &#action-two {
    position: fixed;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    width:75%;
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;    
    background: white;
    z-index: 11;
    display: none;
    textarea {
      height: 10em;
    }
    textarea.small {
      height: 5em;
    }
    textarea.large {
      height: 15em;
    }
  }
}

.conversation-action-center-tile {
  position: relative;
  border: 2px solid $landing-orange;
  margin: 0 rem-calc(14) rem-calc(14) rem-calc(14);  
}

#conversation-wrapper {
  min-height: 50vh;
  background: white;
}

#profile-conversation-wrapper {
  // overflow-x: hidden;
  overflow-y: scroll;
}
#profile-profile-wrapper {
  // overflow-x: hidden;
  overflow-y: scroll;
}
#profile-contract-wrapper {
  // overflow-x: hidden;
  overflow-y: scroll;
}

// div {
//   border: 1px solid blue;
// }
.conversation-block{
  // height: 100%;
  overflow-y: scroll;
  border-left: 1px dotted $landing-blue;
  border-right: 1px dotted $landing-middle-gray;
  padding: rem-calc(15) 0 0 0;
  & #send-message {
    background: white;
    & .bubble-you
    {
    border: 2px solid $landing-orange;
    // border: 2px solid scale-color($you-border, $lightness: -30%);
    }
    & .bubble-you:after 
    {
    border-color: transparent $landing-orange;
    // border-color: transparent scale-color($you-border, $lightness: -30%);
    }
  }  
  & #view-messages {
    border-bottom: 1px solid transparent;
    padding-bottom: rem-calc(50);
  }

  $convo-placeholder-color: $landing-dark-gray;

  & #message-input {
    min-height: 1em;
    background-color: $you-color;
    // border: 1px solid scale-color($landing-blue, $lightness: 65%);
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: rem-calc(20) 0;
    padding-left: 0;
    font-weight: 300;
    &::-webkit-input-placeholder {
       color: $convo-placeholder-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $convo-placeholder-color;  
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $convo-placeholder-color;  
    }
    &:-ms-input-placeholder {  
       color: $convo-placeholder-color;  
    }    
  }  
  & #message-submit {
    // height: 5em;
    display: none;
    margin: 0;
    padding: rem-calc(5);
  }
  & #message-cancel {
    // height: 5em;
    display: none;
    color: white;
    margin: auto;
    padding: rem-calc(5);
  }
}
.conversation-logo-you, .conversation-logo-them {
  padding: rem-calc(20);
}
.datetime {
  & .you{
    margin-right: rem-calc(40);
  }  
}

#conversation-section-header,
#action-section-header {
  h6 {
    margin:0;
  }
}

#conversation-map {
  border-top: rem-calc(20) solid white;
}
#conversation-section-header {
  background: $landing-light-gray
}
#action-section-header {
  background: $landing-middle-gray 
}

.testing-text-input {
  .hide {
    display: none;    
  }
}
.sku-testing-item {
  margin-bottom: rem-calc(10);
  h4 {
    font-weight: 500;
    text-decoration: underline;
  }
  p {
    margin-left: rem-calc(10);
  }
}
.prepare-action-tile {
  .conversation-help-tile {
    margin-bottom: rem-calc(30);
  }
  hr {
    border-color: $landing-middle-gray;
  }
}
.conversation-share-info {
  font-weight: 100;
  font-size: rem-calc(12);
}
.share-input-container {
  min-height: rem-calc(100);
  border-left: 1px solid $landing-light-gray;
  padding-left: rem-calc(10);
  margin-bottom: rem-calc(20);
}

// SHARE FORM STYLES
.share-form-header {
  background: $landing-middle-gray;
}
.share-form-top-header {
  background: $landing-blue;
  padding: rem-calc(10) 0;
  h1 {
    color: white;
    font-weight:100;
    margin-top:rem-calc(10);
  } 
  margin-bottom: rem-calc(10);
}

.share-item-title{
  font-weight: 600;
  margin-bottom: 0;
}
.share-item-subhead{
  margin-top: 0; 
}

.shared-indicator-block {
  font-size: rem-calc(12);
  margin-left: rem-calc(10);
}
.shared-indicator-bullet{
  display: inline-block;
  width: rem-calc(15);
  text-align: center;
}

// TERMSHEET STYLES

#termsheet {
  h1 {
    margin-top:rem-calc(30);
  }
  #termsheet-header {
    background: $landing-blue;
    padding: rem-calc(10) 0;
    h1 {
      color: white;
      font-weight:100;
      margin-top:rem-calc(10);
    }
  }
  padding-bottom: rem-calc(50);

}

.termsheet-info-panel {
  padding: rem-calc(15);
  border: 1px dotted $landing-light-gray;
  margin-bottom: rem-calc(15);
  background: $landing-light-gray;
}

table.preview-termsheet-table {
  width: 100%;
  h3{line-height: 1em;}
  th{font-weight: 100;}
  tr.inactive{
    color: $landing-middle-gray;
    h3{color: $landing-middle-gray;small{color: $landing-middle-gray;}}
    td.active{h3{color:black;}color: black;}
  }
  
  td {font-weight: 100;border: 1px solid $landing-light-gray;vertical-align: top;}
  td.item {
    width: 20%;
  }
  td.terms {
    width: 30%;
  }
  td.notes {
    width: 30%;
  }
  td.brandapproval {
    width: 10%;
  }
  td.distributorapproval {
    width: 10%;
  }
}