@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

// FRONT PAGE

.front-top-panel {
  // margin-top:2em;
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  @include transparent(black, 0.3);
}

#front-footer {
  background-color: $landing-dark-gray;
  padding-top: 2em;
  color: $landing-light-gray;
}

#front-banner {
	width: 100%; 
	position: absolute;
	bottom: 40%;
	padding-top: rem-calc(10); 
	// @include transparent(black, 0.4);
}

#front-footer {
	width: 100%; 
	position: absolute;
	bottom: 0px;	
}

#front-login {
	position: absolute;
	bottom: rem-calc(10);	
	right: rem-calc(20);	
}

#front-logo {
	position: absolute;
	bottom: rem-calc(10);	
	right: rem-calc(20);
	z-index: 1;
}

#sign-up {
	// position: absolute;
	margin-top: 20%;
}

.shadow {
    -webkit-filter: drop-shadow( 2px 2px 3px #000 );
            filter: drop-shadow( 2px 2px 3px #000 ); /* Same syntax as box-shadow */
}