@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

// FRONT PAGE

.front-top-panel {
  // margin-top:2em;
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  @include transparent(black, 0.7);
  &#prospect-share {
  	padding-top: rem-calc(50);
  }
}



#front-footer {
  background-color: $landing-dark-gray;
  padding-top: 2em;
  color: $landing-light-gray;
}

#front-banner {
	width: 100%; 
	position: absolute;
	bottom: 40%;
	padding-top: rem-calc(10); 
	// @include transparent(black, 0.4);
}

#front-footer {
	width: 100%; 
	position: absolute;
	bottom: 0px;	
}

.front-login {
	position: absolute;
	bottom: rem-calc(10);	
	right: rem-calc(20);	
}

.front-down-arrow-wrap {
	position: absolute;
	bottom: 0;
	left: 50%;
}
.front-down-arrow {
	position: relative;
	left: -50%;
}


#p-share-lg {
	// background-color: $landing-light-gray;
	padding: 0 rem-calc(15);

}
#p-share-login-error, #p-share-user-error {
	color: red;
}
.ps-panel {
	border: 1px solid $landing-light-gray;
	padding: rem-calc(10);
	h2, h3 {
		color: white;
	}
	hr {
		border-color: white;
	}
	&.noborder{
		border: none;
	}
}

.scroll-down-indicator {
	display: block;
  position: absolute;
  background: url(/images/scroll_down.png) center center no-repeat;
  width: 70px;
  height: 63px;
  left: 50%;
  margin-left: -35px;
  bottom: 15px;
  cursor: pointer;
  // display: none;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#front-logo {
	position: absolute;
	bottom: rem-calc(10);	
	right: rem-calc(20);
	z-index: 1;
}

#sign-up {
	// position: absolute;
	margin-top: 20%;
}

.shadow {
    -webkit-filter: drop-shadow( 2px 2px 3px #000 );
            filter: drop-shadow( 2px 2px 3px #000 ); /* Same syntax as box-shadow */
}