@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

// FRONT PAGE

.front-top-panel {
  padding-top:2em;
  background-color: white;
  position: relative;
  min-height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  &#prospect-share {
  	padding-top: rem-calc(50);
  }
}

.new-user-intro, .new-user-subscription {
	a {
		color: $landing-dark-gray;
		font-weight: 800;
		text-decoration: underline;
	}
	h1 {
		color: $landing-pink;
		font-weight: 900;
		font-size: rem-calc(50);
		line-height: rem-calc(50);
	}
	h2 {
		font-size: rem-calc(50);
		@media #{$small-only} {
			font-size: rem-calc(30);
		}
		color: $landing-blue;
		-webkit-filter: drop-shadow( 1px 1px 1px $landing-light-gray );
		filter: drop-shadow( 1px 1px 1px $landing-light-gray ); /* Same syntax as box-shadow */  
		font-weight: 800;
		font-color: $landing-middle-gray;
		line-height: rem-calc(55);
		strong { 
			font-weight: 700; 
			color: black;
		}
	}
	ul#benefits {
		list-style-type: none;
		font-weight: 300;
		font-size: rem-calc(20);
		margin-left: 0;
		margin-top: rem-calc(30);
		color: $landing-dark-gray;
		li { 
			line-height: 1.1em; 
			margin-bottom: rem-calc(15);
			background-color: $landing-lighter-blue;
			padding: rem-calc(10) rem-calc(10);
			border-radius: rem-calc(5);
		}

	}
	.landing-button {
		font-weight: 600;
		font-size: rem-calc(20);
		padding: rem-calc(20) rem-calc(30);
	}
}

.new-user-subscription {
	h1 {
		font-size: rem-calc(40);
		line-height: rem-calc(30);
	}
	h2 {
		font-size: rem-calc(30);
		line-height: rem-calc(30);
	}
	border: 1px solid $landing-middle-gray;
	padding: rem-calc(30);
}

#login-container {
  padding-top: rem-calc(100);
  height: 90vh;
  background-color: white;
  border-top: 1px solid $landing-middle-gray;
  border-bottom: 1px solid $landing-middle-gray;
}

#front-footer {
  background-color: $landing-dark-gray;
  padding-top: 2em;
  color: $landing-light-gray;
}

#front-banner {
	width: 100%; 
	position: absolute;
	bottom: 40%;
	padding-top: rem-calc(10); 
	// @include transparent(black, 0.4);
}

#front-footer {
	width: 100%; 
	position: absolute;
	bottom: 0px;	
}

.front-login {
	position: absolute;
	bottom: rem-calc(10);	
	right: rem-calc(20);	
}

.front-down-arrow-wrap {
	position: absolute;
	bottom: 0;
	left: 50%;
}
.front-down-arrow {
	position: relative;
	left: -50%;
}


#p-share-lg {
	// background-color: $landing-light-gray;
	padding: 0 rem-calc(15);

}
#login-error, #p-share-user-error {
	color: red;
}
.ps-panel {
	border: 1px solid $landing-light-gray;
	padding: rem-calc(10);
	h2, h3 {
		color: white;
	}
	hr {
		border-color: white;
	}
	&.noborder{
		border: none;
	}
}

.scroll-down-indicator {
	display: block;
  position: absolute;
  background: url(/images/scroll_down.png) center center no-repeat;
  width: 70px;
  height: 63px;
  left: 50%;
  margin-left: -35px;
  bottom: 15px;
  cursor: pointer;
  // display: none;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#front-logo {
	position: absolute;
	bottom: rem-calc(10);	
	right: rem-calc(20);
	z-index: 1;
}

#sign-up {
	// position: absolute;
	// margin-top: 20%;
}

.shadow {
    -webkit-filter: drop-shadow( 2px 2px 3px #000 );
            filter: drop-shadow( 2px 2px 3px #000 ); /* Same syntax as box-shadow */
}




