@import "foundation/functions";
@import "foundation/components/labels";
@import "global_variables";
@import "mixins";

body {
  min-height: 100%;
  background-color: $landing-light-gray;
}

h1, h2, h3 {
  font-weight: 100;
}
h4, h5, h6 {
  font-weight: 200;
}

p {
  font-weight: 200;
  letter-spacing: rem-calc(1);
}

i {
  font-size: rem-calc(20);
}

label {
  font-weight: 100;
  font-size: rem-calc(17);
  letter-spacing: rem-calc(0.5);
}
.shadow-text{
    -webkit-filter: drop-shadow( 1px 1px 2px $landing-dark-gray );
            filter: drop-shadow( 1px 1px 2px $landing-dark-gray ); /* Same syntax as box-shadow */  
}

.error-message {
  color: red;
  font-weight: 100;
}

// div {
//   border: 1px solid red; 
// }

// .redborder {
//   border: 1px solid red;
// }

/////////////
// DEV STYLES
/////////////

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%; 
  }
}


a.landing-button, input[type=submit].landing-button {
  display: inline-block;
  background-color: $landing-blue;
  border: none;
  color: white;
  font-size: rem-calc(12);
  font-weight: 300;
  padding: rem-calc(10) rem-calc(7);
  margin: rem-calc(10) 0;
  line-height: rem-calc(12);
  font-size: rem-calc(12);
  letter-spacing: 1.5px;
  &:hover {
    background-color: scale-color($landing-blue, $lightness: -25%);;
  }
  &.secondary {
    background-color: $landing-middle-gray;
    &:hover {
      background-color: scale-color($landing-middle-gray, $lightness: -25%);;
    }
  }
  &.alert {
    background-color: #ff3c6e;
    &:hover {
      background-color: scale-color(#ff3c6e, $lightness: -25%);;
    }
  }
}

// Top Bar
.topbar {
  border-radius: 0px;
  padding: 0.5em 0em;
  border-bottom: 1px solid black;
  #loginwidget  {
    padding: 0em;
    margin: 0.7em 0.5em;
    a {
      padding-top: 1em;
    }
  }
  .usernav {
    // border-bottom: 1px dotted black;
    margin: 0.5em 0.5em;
    padding: 0em;
  }
}
.top-bar-section ul li.topbar-marketplace {
    background: $landing-blue !important;
}
.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  line-height: 3;
}
.topbarborder {
  border-bottom: 1px dotted $link-color;
  height:1em;
}

// CONTROL DISPLAY OF TEXT UNDER TOPBAR LOGIN
.top-bar-login-text {
  color: $landing-light-gray;
  font-size: 0.7em;

}

.ldpanel {
  border-radius: 3px; 
	border: 1px solid $landing-middle-gray;
  padding: 0.5em 1em;
  margin: 0.5em 0em 1.5em 0em;
  @include transparent(#fff, 0.8);
  h1 {
    padding: 0em 0.4em;
    background-color: $body-font-color;
    color: white;
    small {
      color: white;
    }
  }
}


// SVG Wrapper
.svgwrapper {
  max-width: 6em;
  min-width: 3.8em;
  max-height: 6em;
  min-height: 3.8em;
  // border: 1px dotted scale-color($body-font-color, $lightness: 20%);
}


// // TABS STYLING

.tabs dd > a, .tabs .tab-title > a {
  // padding: 2px 2px;
  // width: 4.7rem;
  border-radius: 5px 5px 0px 0px;
}
.tabs {
  border-bottom: 1px solid $landing-middle-gray;
}


// Subnav Styling Override (change color of inactive items)

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  background-color: white;
  // border-radius: 0px 0px 8px 3px;
}


// Partial Spacer 

.listspacer {
  border-bottom: 1px solid $landing-light-gray;
  margin: 1em;
}

// Adjust spacing of anchors
a.anchor {
  display: block; 
  position: relative; 
  top: -80px; 
  visibility: hidden;
}




// STYLE FILE UPLOAD
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

// DASHBOARD STYLES

$dashboard-marketplace-color: $landing-blue;
$dashboard-insights-color: $landing-yellow;
$dashboard-agency-color: $landing-teal;

.dashboard-container {
  // margin-bottom: rem-calc(20);
}

#dashboard-marketplace-container, #dashboard-insights-container, #dashboard-agency-container {
  padding: 0;
  background-color: white;
}
#dashboard-marketplace-content, #dashboard-insights-content, #dashboard-agency-content {
  padding: rem-calc(10);
  hr {
     // border: 1px solid $landing-middle-gray;
     border-color: $landing-middle-gray;
     margin-top: 0px;
  }
}
.insights-panel {
  padding: 0 rem-calc(10);
}
.agency-panel {
  padding: 0 rem-calc(10);
}
.dashboard-messages-panel {
  position: relative;
  padding: 0 rem-calc(10);
  .dashboard-messages-badge {
    position: absolute;
    top: 0px;
    right: 65px;
  }
  .dashboard-messages-preview-list {
    background-color: $landing-light-gray;
    border-radius: 3px;
    margin: 0 rem-calc(2);
    padding: rem-calc(2) 0;
  }

}
.dashboard-profile-panel {
  padding: 0 rem-calc(10); 
}

#dashboard-marketplace-header, #dashboard-insights-header, #dashboard-agency-header {
  padding-left: rem-calc(10);
  // min-height: rem-calc(30);
  h3 {
    color: white;
    font-weight: 400;
    padding: rem-calc(10);
  }
}


.image-credits-content {
  font-size:0.2em;
  padding-left: 2px;
}

.insights-panel-image {
  position: relative;
  .insights-panel-image-label {
    position: absolute;
    color: #4D4D4D;
    background-color: $landing-yellow;
    bottom: 0;
    left: 0;
    padding: rem-calc(5) rem-calc(10);
    font-size: 0.75em;
    font-weight: 600;
    width: rem-calc(150);
  }
}
.insights-panel-text{
  font-size: 0.6em;
  padding: rem-calc(10) 0;
  font-weight: 200;
  line-height: 1.2;
}

#dashboard-marketplace-header {
  background-color: $dashboard-marketplace-color;
}
#dashboard-insights-header {
  background-color: $dashboard-insights-color;
}
#dashboard-agency-header {
  background-color: $dashboard-agency-color;
}
#menu-dashboard {
  color: $landing-orange;
  font-weight: 700;
  .active & {
    color: $landing-dark-gray;
  }
}

#menu-dashboard a:hover {
  color: red !important;
}

.breadcrumbs.marketplace {
  background-color: $dashboard-marketplace-color;
}
.breadcrumbs.insights {
  background-color: $dashboard-insights-color;
}
.breadcrumbs.agency {
  background-color: $dashboard-agency-color;
}

.dashboard-section-title {
  font-weight: 300;
  padding-left: rem-calc(3);
}


// MARKETPLACE STYLES

.marketplace-header {
  background-color: $landing-blue;
  // padding-left: rem-calc(50);
  // margin-top: rem-calc(15);
  .subhead {
    color: white; 
    font-weight: 100;
    display: inline-block;
    font-size: rem-calc(20);
  }
}

.marketplace-content {
  border: 1px dotted $landing-middle-gray;
  &.padded {
    padding: rem-calc(15);
  }
}



// CONVERSATIONS INDEX STYLING (UPDATED)

.conversations-container {
  padding: 0;
  margin: 0 rem-calc(20) rem-calc(20) rem-calc(20);
  // background-color: $landing-middle-gray;
}
.conversations-content {
  padding: rem-calc(10);
  // background: white;
  color: $landing-dark-gray;
  h2 {
    color: $landing-dark-gray;
  }
  hr {
     // border: 1px solid $landing-middle-gray;
     border-color: $landing-light-gray;
     margin-top: 0px;
  }
}

.conversations-header {
  padding: rem-calc(9) rem-calc(10) rem-calc(5) rem-calc(10);
  // background-color: $landing-light-gray;
  border-bottom: 1px solid $landing-dark-gray;
  h2 {
    color: $landing-dark-gray;
    font-weight: 100;
  }
}


// NEW SEARCH START PAGE

// .matchback {
//   position: fixed;
//   background: transparent url("/images/map.svg") fixed center;
//   background-size: 75%;
//   background-repeat: no-repeat;
//   top: 20px;
//   left: 0px;
//   height: 100%;
//   width: 100%;
//   z-index: -11;
//   pointer-events: none;
// }

.marketplace-subpage-header  {
  background: white;
  margin: 0;
  padding: rem-calc(9) rem-calc(10) rem-calc(5) rem-calc(10);
  border-bottom: 1px solid $landing-middle-gray;
  h1 {
    // color: $landing-blue;
    font-weight: 100; 
  }
}


#side-nav-container {
  background: $landing-light-gray;
  border-radius: 9px 0px 0px 9px;
}

#side-nav-content {
  border: 1px solid $landing-light-gray;
  border-radius: 9px;
  background: scale-color($landing-blue, $lightness: 50%);
  padding: 1em;
  margin-bottom: 2em;
  min-height: 80vh;
}
#page-content {
  // border: 1px solid $landing-light-gray;
  // border-radius: 9px;
  // background: scale-color($landing-blue, $lightness: 50%);
  // padding: 1em;
  // margin-bottom: 2em;
  // min-height: 80vh;
}

// BRAND->DISTRIBUTOR SEARCH START

#match-map-header {
  // position: relative;
  background: white url("/images/searchmap.svg");
  // background-position:  top;
  background-size: 25%;
  background-repeat: no-repeat;
}

#match-map-container {
  position: relative;
  background: transparent url("/images/searchmap.svg");
  background-position:  center;
  background-size: 95%;
  background-repeat: no-repeat;
}
.match-map-overlay {
  @include transparent(#fff, 0.4);
  height: 100%
}

#match-russia, {
  position: absolute;
  left: 69%;
  top: 18%;
}
#match-china {
  position: absolute;
  left: 72%;
  top: 34%;
}
#match-korea {
  position: absolute;
  left: 83%;
  top: 31%;
}
#match-india {
  position: absolute;
  left: 63%;
  top: 47%;
}
#match-brazil {
  position: absolute;
  left: 32%;
  top: 65%;
}
#match-uk {
  position: absolute;
  left: 37%;
  top: 25%;
}


// DISTRIBUTOR->BRAND SEARCH START

#match-sectors-container {
  position: relative;
  margin: rem-calc(25) 0;
  // height: rem-calc(200);
  // background: transparent url("/images/searchmap.svg");
  // background-position:  center;
  // background-size: 95%;
  // background-repeat: no-repeat;
}


/* ID names generated on distributor_search_start partial, based on the sector name */
#match-baby-kids, #match-fashion-accessories, #match-other, #match-personal-care, #match-beauty-personal-care {
  position: relative;
  // top: rem-calc(50);
  height:100px;
  background-position: center;
  background-size: 100%;
}
#match-baby-kids {
  background: transparent url("/images/landing_sector_icons_baby_kids.svg") no-repeat center;
}
#match-fashion-accessories {
  background: transparent url("/images/landing_sector_icons_fashion_accessories.svg") no-repeat center;
}
#match-personal-care, #match-beauty-personal-care {
  background: transparent url("/images/landing_sector_icons_personal_care.svg") no-repeat center;
}
#match-other {
  background: transparent url("/images/landing_sector_icons_other.svg") no-repeat center;
}


#match-title {
  position: absolute;
  left: 5%;
  top: 2%;
  background: rgba(255,255,255,0.6);  
}


#match-list {
  // position: relative;
  padding: 0em;
  // top: 75px;
  // left: 5%;
  width:100%;
  z-index: 10;
  // border: 1px dotted rgba(0,0,0,0.2);
  margin-bottom: 5em;
}

a.match-map {
  color:white;
  background: $landing-orange;
  padding: rem-calc(4);
  padding-top: rem-calc(4) !important;
  font-weight: 400;
  font-size: rem-calc(11);
  border-radius: 3px;
}

a.match-map:hover {
  background: $landing-orange;
  border: 1px solid black;
}

.saved-contacted-match-list {
  // @include transparent(#fff, 0.4);
  // border: 5px solid rgba(0,0,0,0.2);
  // position: absolute;
  padding-top:0px;
  top: 0;
}

.saved-contacted-match-header {
  // background: rgba(255,255,255,0.6);
  padding: 1em;
}

.match-empty {
  // background: $landing-middle-gray;
  border: 1px dotted $landing-middle-gray;
  margin-top: 0px;
  padding: 2em;
  width: 100%;
  height: 100%;
}


// SIDE NAV STYLING
// .side-nav li.active {
//   background: gray;
// }

.side-nav li.active > a {
  color: red !important;
}


// MESSAGE CENTER STYES
.messages-panel {
  padding: rem-calc(15);
  background: $landing-middle-gray;
  border: 1px solid $landing-light-gray;
}

// FILE UPLOAD CONTROL HIDE/STYLE

.hide-upload{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.galleria-brand-photos{height:400px}

.galleria-product-photos{height:300px}

// PAGINATION STYLES
@import "foundation/components/buttons";
.pagination {
  margin: rem-calc(5) 0;
  height: rem-calc(20);
  font-size: 0.75em;
  a { 
    color: $landing-light-gray; 
  }  
  .first, .prev, .next, .last, .page {
    margin: rem-calc(2);
    
    // border: 1px solid $landing-middle-gray;

    @include button(
      // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
      $padding: rem-calc(6),
      // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
      $bg: $landing-middle-gray,
      // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
      $radius: 0,
      // We can set $full-width:true to remove side padding extend width. Default:false
      $full-width: false,
      // We can set $disabled:true to create a disabled transparent button. Default:false
      $disabled: false
      // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false
      // $is-input: false
    );    
  }
  .page{
    &.current{
      @include button(
        // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
        $padding: rem-calc(6),
        // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
        $bg: $landing-dark-gray,
        // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
        $radius: 0,
        // We can set $full-width:true to remove side padding extend width. Default:false
        $full-width: false,
        // We can set $disabled:true to create a disabled transparent button. Default:false
        $disabled: false
        // $is-input - <input>s and <button>s take on strange padding. We added this to help fix that. Default:false
        // $is-input: false
      ); 
    }
  }
}

// DATE SELECT (KEEP ON SAME LINE)
select.year, select.month {
  width: 45%;
}


a i.fi-list {
  color: white;
}
