<div class="row">
	<div class="small-12 columns">
		<h1>Your Login Info</h1>
	</div>
</div>

<div id="user-limited-update-form">
	<%= render partial: 'users/limited_update_form', locals: {user: @current_user} %>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr>
	</div><!--/.small-12-->
</div><!--/.row-->

<div class="row">
	<div class="small-12 columns">
		<h4>All Account Logins</h4>
	</div>
</div>


<div id="contacts_list">
	<%= render partial: "/users/user_list", locals: {b_or_d: @brand} %>
</div>
<br>
