<div class="row newuser-modal">
	<div class="medium-10 medium-centered columns">
		<h2 style="margin-top: 0;">Thank you for joining the Landing Marketplace!</h2>
		<div class="row">
			<div class="medium-6 columns" id="left-column">
				<h3 style="margin-top: 0.45em;">랜딩 마켓플레이스에 오신 것을 환영합니다. <a href="https://s3.amazonaws.com/landingintl-us/general/BrandsRequirementsKorean.pdf" target="_blank">브랜드 프로필</a> 은 귀사의 브랜드 스토리 및 경쟁력을 바이어에게 어필할 수 있도록 만들어주세요.</h3>
			</div><!--/.medium-6-->
			<div class="medium-6 columns">
				<h3><strong>Complete Your Profile</strong><br>Please complete your brand profile so your potential partners can learn about you and be better matched to your products and customer base</h3>
			</div><!--/.medium-6-->
		</div><!--/.row-->
		<hr>
		<h3>Contact us for assistance any time at <a mailto="info@landingintl.com" style="font-weight: 500;">info@landingintl.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->