<div class="row newuser-modal">
	<div class="medium-10 medium-centered columns">
		<h2 style="margin-top: 0;">You have enabled Armor Payments (a Payoneer company) Escrow</h2>
		<div class="row">
			<div class="small-12 columns">
				<h3>Retailers and Distributors will now be able to order your products</h3>
				<h3><strong>Please make sure to enter your bank information.<br>Order payment and processing may be delayed if your banking information is incomplete.</strong><br> <%= link_to brand_url + '#a-armor', id: "close-new-info" do %>You can submit your bank account information to Armor/Payoneer here<% end %>.</h3>
			</div><!--/.medium-6-->
		</div><!--/.row-->
		<hr>
		<h3>Contact us for assistance any time at <a mailto="info@landingintl.com" style="font-weight: 500;">info@landingintl.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->