<div class="row">
	<div class="medium-10 medium-centered columns">
		<h3>랜딩 마켓플레이스에 오신 것을 환영합니다. <a href="https://s3.amazonaws.com/landingintl-us/general/BrandsRequirementsKorean.pdf" target="_blank">브랜드 프로필</a> 은 귀사의 브랜드 스토리 및 경쟁력을 바이어에게 어필할 수 있도록 만들어주세요.</h3>
		<hr>
		<h2>Thank you for joining the Landing Marketplace!</h2>
		<h3>Please complete your brand profile according to the <a href="https://s3.amazonaws.com/landingintl-us/general/BrandsRequirementsKorean.pdf" target="_blank">instructions here.</a></h3>
		<h3>Contact us for assistance any time at <a mailto="info@landinginternational.com">info@landinginternational.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->