<div class="row">
	<div class="medium-10 medium-centered columns">
		<h2>Thank you for joining the Landing Marketplace!</h2>
		<h3>Please complete your brand profile according to the <a href="https://s3.amazonaws.com/landingintl-us/general/BrandsRequirementsKorean.pdf" target="_blank">instructions here.</a></h3>
		<h3>Contact us for assistance any time at <a mailto="info@landinginternational.com">info@landinginternational.com</a></h3>
	</div><!--/.medium-10 medium-centered-->
</div><!--/.row-->