<br>
<a class="anchor" id="a-press-hits"></a>
<%= render partial: "shared/editcollblock", locals: {
	coll: @press_hits,
	identifier: "source",
	no_item_message: "No Press Hits",
	coll_new_item: @new_press_hit,
	coll_new_item_text: "Add a Press Hit",
	# iscurrent: false
} %>
<br>