<div class="row">
	<div class="small-12 columns">
		<h1>Global Good Tags<br><small>How you help people and planet.</small></h1>
	</div>
</div>
<% tid = SecureRandom.uuid %>
<%= render partial: "shared/tags/tags_list", locals: {
	list: @tags,
	tid: tid
} %>
<br>
<%= render partial: "shared/tags/tags_input", locals: {
	type: 'b',
	tid: tid
} %>