<%= render layout: "shared/modal", locals: { size: "large" } do  %>
<div class="text-center">
	<%= image_tag 'https://s3.amazonaws.com/landingintl-us/general/landing-logo.png', width: "100", alt: "Landing International" %>
	<h1>To subscribe, please pay by wire</h1>
	<h3><strong>$600 annual subscription fee can be wired to:</strong></h3>
	<br>
	<table style="margin: auto;"><tbody>
		<tr><td>Bank: </td><td><strong>Citibank, NA</strong></td></tr>
		<tr><td>Swift Code: </td><td><strong>CITIUS33</strong></td></tr>
		<tr><td>Routing/ABA Number: </td><td><strong>321171184</strong></td></tr>
		<tr><td>Account Number: </td><td><strong>205978521</strong></td></tr>
	</tbody></table>
	<br>

	
	<h3><strong>
	Landing International Inc.<br>
	800 Wilshire Blvd, Suite 200<br>
	Los Angeles, CA 90017<br>
	</strong></h3>
	<br>
	<h3>Contact us for assistance any time at <a mailto="info@landingintl.com" style="color:black;">info@landingintl.com</a></h3>
</div><!--/ .text-center -->
<% end %>