<%= render partial: 'shared/v2/header/main' %>

<div class="brandindex-top">

<div class="row">
	<div class="small-12 columns">

		<nav class="breadcrumbs">
			<%= link_to "Beauty", brands_url %>
		  <a class="current" href="#">Search</a>
		</nav>

	</div><!--/.small-12-->
</div><!--/.row-->
<br>


	<div class="filtered-results">

	<div class="row">
		<div class="small-11 small-centered columns small-text-center medium-text-left">		
		<% if @searchresults.blank? %>
			<h3>No Brands</h3>
		<% else %>
			
			<ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-5">
				<% @searchresults.each do |b| %>
					<li>
					<%= render partial: "index_item_filtered", locals: {brand: b} %>
					</li>
				<% end %>
			</ul>
		<% end %>
		</div>
	</div>
	</div>

	</div>

<%= render partial: 'shared/v2/footer/main' %>