<div class="tiled-item">
<%= link_to preview_brand_url(brand), remote: true do %>

<div class="image-inner" style="background-image: url(<%= product.product_photos.first.photo.url(:medium) %>)"></div>
<div class="product-name"><%= product.name %></div>
<div class="name">from<br><%= brand.company_name %></div>
<% end %>
</div><!--/.index-item-->