	<input type="checkbox" id="armor_payments_terms" name="armor_payments_terms" class="error"/>
	<!-- Replace 1052419 with your own Partner ID in this URL --> 
	<label for="armor_payments_terms"><span style="font-weight: 200; font-size: 0.75em;">I agree to the Armor Payments, a Payoneer company, <a href="https://app.armorpayments.com/terms/160405182787" target="_BLANK">Terms and Conditions</a>.</span></label>